/* Code tidied up by ScrapBook */
body { font-size: 12px; margin: 0px; padding: 0px; background: rgb(163, 179, 191) none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0px; margin: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
ol, ul { list-style: outside none none; }
a:focus { outline: medium none; }
a:link, a:visited { color: rgb(34, 59, 77); text-decoration: none; }
a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
.c-main { color: rgb(36, 119, 179); }
.c-main a:link, .c-main a:visited { text-decoration: none; color: rgb(36, 119, 179); }
.c-main a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.c-sub { color: rgb(125, 156, 179); }
.c-sub a:link, .c-sub a:visited { text-decoration: none; color: rgb(125, 156, 179); }
.c-sub a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.c-secsub { color: rgb(184, 203, 217); }
.c-alarm { color: rgb(230, 57, 34); }
.c-alarm a:link, .c-alarm a:visited { text-decoration: none; color: rgb(230, 57, 34); }
.c-alarm a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.c-white { color: rgb(255, 255, 255); }
.c-white a:link, .c-white a:visited { text-decoration: none; color: rgb(255, 255, 255); }
.c-white a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.fB { font-weight: bold; }
.f10px { font-size: 10px; }
a:focus, input:focus { outline: medium none; }
.clearfix {  }
.clearfix::after { content: "."; display: block; visibility: hidden; clear: both; height: 0px; }
.banner img { display: inline-block; }
.space10 { height: 10px; font-size: 0px; overflow: hidden; }
.lf { float: left; }
.rf { float: right; }
label { cursor: pointer; }
.login-box { height: 24px; padding: 5px 10px 4px; width: 890px; margin: 0px auto; line-height: 20px; }
.login-box .num-info { float: left; }
.leader { background: rgba(0, 0, 0, 0) url("icon.gif") no-repeat scroll 0px -66px; padding: 0px 0px 0px 20px; color: rgb(34, 59, 77); }
.login-box .login-info { float: left; color: rgb(255, 255, 255); }
.gb-coffee { background: rgb(255, 249, 242) none repeat scroll 0% 0%; margin: 0px 0px 10px; }
.gb-coffee .gb-t { height: 25px; background: rgba(0, 0, 0, 0) url("gb_coffee.gif") repeat-x scroll 0px -25px; }
.gb-coffee .gb-tl { background: rgba(0, 0, 0, 0) url("gb_coffee.gif") no-repeat scroll 0px 0px; float: left; width: 10px; height: 25px; overflow: hidden; }
.gb-coffee .gb-tr { background: rgba(0, 0, 0, 0) url("gb_coffee.gif") no-repeat scroll -10px 0px; float: right; width: 10px; height: 25px; overflow: hidden; }
.gb-coffee .gb-t .title { float: left; height: 25px; line-height: 25px; color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; }
.gb-coffee .gb-t .title a { color: rgb(255, 255, 255); }
.gb-coffee .gb-c { padding: 10px 10px 5px; }
.gb-coffee .gb-b { height: 5px; }
.gb-coffee .gb-bl { background: rgba(0, 0, 0, 0) url("gb_coffee.gif") no-repeat scroll 0px -50px; float: left; width: 5px; height: 5px; overflow: hidden; }
.gb-coffee .gb-br { background: rgba(0, 0, 0, 0) url("gb_coffee.gif") no-repeat scroll -5px -50px; float: right; width: 5px; height: 5px; overflow: hidden; }
.topscroll-div { position: relative; width: 1040px; margin: 0px auto; z-index: 888; }
#TopScroll { width: 19px; height: 45px; margin: 370px 0px 0px 780px; z-index: 888; }
#TopScroll a { display: block; width: 19px; height: 45px; background: rgba(0, 0, 0, 0) url("icon_top.png") no-repeat scroll 0px 0px; text-indent: -9999px; overflow: hidden; }
.lv0-icon, .lv1-icon, .lv2-icon, .lv3-icon, .lv4-icon, .lv5-icon, .lv6-icon, .lv7-icon, .lv8-icon, .lv9-icon, .lv10-icon { background: rgba(0, 0, 0, 0) url("icon_lv.png") no-repeat scroll 0px 0px; vertical-align: middle; overflow: hidden; width: 45px; height: 20px; display: inline-block; }
.fixed-outer { width: 1000px; margin: 0px auto; position: relative; z-index: 998; height: 0px; pointer-events: none; }
.fixed-outer .fixed-inner { position: absolute; top: 0px; left: 0px; width: 320px; padding: 0px 0px 0px 636px; pointer-events: none; }
.msg-box, .msg-box .msg-box-t, .msg-box .msg-box-c, .msg-box .msg-box-b, .msg-box .msg-box-c .msg-close, .msg-box .msg-box-c .msg-close:hover { background: rgba(0, 0, 0, 0) url("bg_msg.png") no-repeat scroll 0px 0px; width: 190px; overflow: hidden; }
.msg-box { line-height: 22px; pointer-events: auto; }
.input-box-f { width: 224px; margin-bottom: 10px; position: relative; }
.input-box-f .input-text { width: 202px; height: 20px; font-size: 14px; padding: 10px; color: rgb(34, 59, 75); background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); border-radius: 3px; box-shadow: 0px 1px 2px rgb(205, 207, 209); }
.input-box-f .input-text:focus, .input-box-f .text-focus, .input-box-f .text-hover { border-color: rgb(78, 141, 177); }
.input-box-f .label-msg { width: 204px; height: 22px; line-height: 22px; font-size: 14px; padding: 10px 8px 10px 12px; color: rgb(125, 156, 177); position: absolute; top: 0px; left: 0px; }
.input-box-f label { cursor: text; }
.prompt-f { position: relative; }
.prompt-f .prompt-ok, .prompt-f .prompt-err, .prompt-f .prompt-content { display: inline-block; position: absolute; color: rgb(34, 59, 75); width: 300px; height: 18px; padding: 7px 10px; line-height: 18px; top: -35px; left: 0px; }
.prompt-f .prompt-ok .prompt-content i, .prompt-f .prompt-err .prompt-content i { display: inline-block; position: absolute; left: 5px; top: 7px; width: 20px; height: 20px; margin-right: 5px; vertical-align: middle; background: rgba(0, 0, 0, 0) url("icon_reg.gif") no-repeat scroll -5px -187px; }
.prompt-f .prompt-content { width: auto; height: auto; top: auto; bottom: 0px; padding-left: 30px; background-color: rgb(249, 244, 196); border-radius: 3px; box-shadow: 0px 1px 2px rgb(184, 186, 188); }
#exposeMask { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: none; opacity: 0.5; z-index: 9998; background-color: rgb(255, 255, 255); }
.upl-box-f { position: absolute; width: 100%; z-index: 99999; top: 0px; left: 0px; }
.upl-box { position: absolute; z-index: 99999; top: 0px; left: 0px; display: none; }
.show-window { padding: 0px 0px 18px; border: 1px solid rgb(204, 206, 209); background: rgb(242, 245, 245) none repeat scroll 0% 0%; font-weight: normal; border-radius: 4px; box-shadow: 0px 0px 4px rgb(211, 214, 217); font-size: 14px; line-height: 30px; }
.show-window .w-title { height: 50px; padding: 0px 11px; border-bottom: 1px solid rgb(200, 227, 228); }
.show-window .w-title span { display: block; float: left; color: rgb(102, 102, 102); text-align: center; padding: 12px 10px 8px; height: 30px; overflow: hidden; cursor: pointer; }
.show-window .w-title .close-x { display: block; width: 11px; height: 11px; margin-top: 20px; margin-right: 8px; cursor: pointer; background: rgba(0, 0, 0, 0) url("close_x.png") no-repeat scroll 0px 0px; }
.show-window .w-content { padding: 10px 15px 0px; overflow: hidden; }
.show-window .w-content .btn-group { padding-top: 30px; }
.show-window .button, .show-window .button-c { line-height: 30px; height: 30px; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); background: rgb(76, 158, 168) none repeat scroll 0% 0%; border: 0px none; border-radius: 4px; float: left; width: 60px; text-align: center; }
.show-window .button-c { color: rgb(0, 0, 0); background: rgb(228, 228, 228) none repeat scroll 0% 0%; margin-right: 10px; }
