/* Code tidied up by ScrapBook */
body { background: rgb(220, 236, 237) url("bg.gif") repeat-x scroll 0px 0px; color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,"微软雅黑","microsoft yahei",sans-serif; margin: 0px; padding: 0px; }
b { font-weight: normal; }
a:link, a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
.c-main { color: rgb(36, 119, 179); }
.c-main a:link, .c-main a:visited { text-decoration: none; color: rgb(36, 119, 179); }
.c-main a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.c-sub { color: rgb(125, 179, 179); }
.c-sub a:link, .c-sub a:visited { text-decoration: none; color: rgb(125, 179, 179); }
.c-sub a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.c-secsub { color: rgb(184, 203, 217); }
.gb-coffee .gb-t { background: rgba(0, 0, 0, 0) url("gb_coffee.png") repeat-x scroll 0px -25px; }
.gb-coffee .gb-tl { background: rgba(0, 0, 0, 0) url("gb_coffee.png") no-repeat scroll 0px 0px; }
.gb-coffee .gb-tr { background: rgba(0, 0, 0, 0) url("gb_coffee.png") no-repeat scroll -10px 0px; }
.gb-coffee .gb-c { padding: 5px 10px 0px; }
.gb-coffee .gb-bl { background: rgba(0, 0, 0, 0) url("gb_coffee.png") no-repeat scroll 0px -50px; }
.gb-coffee .gb-br { background: rgba(0, 0, 0, 0) url("gb_coffee.png") no-repeat scroll -5px -50px; }
.wrapper { width: 1000px; margin: 0px auto; padding: 0px; position: relative; }
.globalnav, .header, .login-box, .club-location, .clubforum-cont, .b-border, .operating, .topic, .statistics-club, .link-title, .link-cont, .quick-reply, .site-statement, .posted-box-add, .reply-box, .footer-club { border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); padding: 0px 10px; }
.leader-icon, .sofa-icon, .top-icon, .subtop-icon, .lock-icon, .hot-icon, .vote-icon, .essence-icon, .bulletin-icon, .normal-icon, .img-icon, .open-icon, .putaway-icon, .pages-icon, .openputaway-icon, .prompt-icon, .follow-icon, .alreadyfollow-icon { background: rgba(0, 0, 0, 0) url("icon_club.png") no-repeat scroll 0px 0px; vertical-align: middle; overflow: hidden; }
.leader-icon { background-position: 0px -2px; width: 23px; height: 20px; }
.globalnav { background: rgb(186, 216, 216) none repeat scroll 0% 0%; line-height: 25px; height: 25px; }
.globalnav span { float: right; }
.globalnav-ul { margin: 0px; padding: 0px; }
.globalnav-ul li { float: left; display: block; margin: 0px 4px 0px 0px; position: relative; z-index: 500; }
.globalnav-ul ul { position: absolute; top: 22px; left: -4px; display: none; padding: 5px 0px; background: rgb(220, 236, 237) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); }
.globalnav-ul ul li { width: 90px; float: left; line-height: 22px; }
.globalnav-ul ul a { padding: 0px 8px; cursor: pointer; }
.globalnav-ul ul a:link, .globalnav-ul ul a:visited { color: rgb(34, 59, 77); text-decoration: none; }
.globalnav-ul ul a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
#globalnav-more-btn:link, #globalnav-more-btn:visited { color: rgb(255, 255, 255); padding-right: 20px; background: rgba(0, 0, 0, 0) url("globalnav_more_arrow.png") no-repeat scroll right -3px; }
#globalnav-more-btn:hover { text-decoration: none; color: rgb(34, 59, 77); background-position: right -27px; }
.globalnav-ul ul {  }
.globalnav-ul ul {  }
li.globalnav-last {  }
.header { height: 88px; padding: 0px; border-top: 1px solid rgb(212, 237, 237); border-bottom: 1px solid rgb(212, 237, 237); background: rgb(198, 231, 231) none repeat scroll 0% 0%; position: relative; }
.header .logo a { display: block; float: left; width: 190px; height: 60px; margin: 16px 10px 2px 8px; background: rgba(0, 0, 0, 0) url("logo.png") no-repeat scroll 0px 0px; text-indent: -9999px; overflow: hidden; }
.header .forum { position: absolute; height: 33px; line-height: 33px; display: block; font-size: 16px; font-weight: bold; color: rgb(0, 0, 0); left: 140px; top: 28px; }
.header .forum a:link, .header .forum a:visited { text-decoration: none; color: rgb(0, 0, 0); }
.header .forum a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.login-box { background: rgb(186, 216, 216) none repeat scroll 0% 0%; line-height: 20px; height: 20px; padding: 3px 10px 2px; width: 800px; }
.login-box .num-info { float: left; }
.leader { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px; color: rgb(0, 0, 0); }
.login-box .num-info .fB { color: rgb(0, 0, 0); }
.login-box .login-info { float: left; color: rgb(255, 255, 255); }
.club-location { background: rgb(220, 236, 237) none repeat scroll 0% 0%; border-top: 1px solid rgb(255, 255, 255); height: 25px; line-height: 25px; padding-left: 10px; }
#ClubCont .club-location { border-bottom: medium none; }
.club-location div { float: left; }
.club-location div.arrow { background: rgba(0, 0, 0, 0) url("arrow_location.gif") no-repeat scroll center 0px; width: 26px; height: 25px; }
.b-border { background: rgb(220, 236, 237) none repeat scroll 0% 0%; padding: 0px; clear: both; }
.operating { background: rgb(220, 236, 237) none repeat scroll 0% 0%; height: 23px; padding: 4px 10px; line-height: 23px; }
.btn-publish a, .btn-reply a, .btn-reply-cont a, .btn-preview a, .btn-jiashi a { float: left; display: inline; width: 62px; padding: 0px 0px 0px 37px; height: 23px; line-height: 23px; font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); background: rgba(0, 0, 0, 0) url("btn_club.png") no-repeat scroll 0px 0px; margin: 0px 10px 0px 0px; }
.btn-publish a:hover { background-position: 0px 0px; }
.btn-publish a:hover { background-position: 0px -23px; text-decoration: none; color: rgb(0, 0, 0); }
.btn-publish a:active { background-position: 0px -46px; text-decoration: none; color: rgb(0, 0, 0); }
.btn-reply a { background-position: -99px 0px; }
.btn-reply a:hover { background-position: -99px -23px; text-decoration: none; color: rgb(0, 0, 0); }
.btn-reply a:active { background-position: -99px -46px; text-decoration: none; color: rgb(0, 0, 0); }
.clubcont-line { font-size: 0px; border-top: 1px solid rgb(255, 255, 255); height: 0px; overflow: hidden; }
.statistics-club { border-top: 1px solid rgb(255, 255, 255); padding: 5px 10px; line-height: 20px; }
.statistics-club .clublist-selected { float: right; padding: 10px 0px; }
.quick-reply { background: rgb(192, 223, 224) none repeat scroll 0% 0%; padding: 0px; }
.quick-reply .title { background: rgb(146, 200, 201) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-weight: bold; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); line-height: 25px; height: 25px; padding: 0px 10px; }
.site-statement { background: rgb(192, 223, 224) none repeat scroll 0% 0%; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); line-height: 18px; padding: 8px 20px; }
.posted-box-add { background: rgb(220, 236, 237) none repeat scroll 0% 0%; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); }
.posted-box { background: rgba(0, 0, 0, 0) url("line_posted_info.gif") repeat-x scroll 0px bottom; height: 31px; }
.posted-box .posted-info { line-height: 20px; padding: 5px 0px; float: left; }
.posted-box .posted-floor { float: right; line-height: 20px; padding: 5px 0px; }
.posted-box .posted-info { line-height: 20px; padding: 5px 0px; float: left; }
.posted-box .posted-info .c-main { color: rgb(36, 119, 179); }
.posted-box .posted-info .c-main a:link, .posted-box .posted-info .c-main a:visited { text-decoration: none; color: rgb(0, 0, 0); }
.posted-box .posted-info .c-main a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.minor-control { text-align: right; height: 20px; line-height: 20px; padding: 10px 10px 5px; }
.postspecific { position: relative; width: 640px; margin: 10px auto 30px; }
.postspecific .posts-title { color: rgb(0, 0, 0); font-weight: bold; font-size: 16px; text-align: center; line-height: 24px; padding: 4px; background: rgb(146, 200, 201) none repeat scroll 0% 0%; }
.postspecific .posts-posted { padding: 20px 0px; line-height: 20px; text-align: center; }
.postspecific .posts-cont { padding: 0px 0px 10px; font-size: 1.35em; line-height: 2; width: 640px; overflow: hidden; }
.postspecific .posts-cont img, .replycont-box-r .replycont-text img { vertical-align: middle; margin: 0px 0px 5px; }
.postspecific .posts-cont, .replycont-box-r .replycont-text { overflow-wrap: break-word; color: rgb(5, 17, 26); }
.postspecific .posts-stat-box { width: 135px; top: -20px; left: -90px; line-height: 24px; position: absolute; }
.postspecific .posts-stat-box .posts-stat-t { width: 135px; height: 5px; overflow: hidden; background: rgba(0, 0, 0, 0) url("bg_poststat.png") no-repeat scroll 0px 0px; }
.postspecific .posts-stat-box .posts-stat-c { padding: 0px 20px 0px 10px; background: rgba(0, 0, 0, 0) url("bg_poststat.png") no-repeat scroll -135px 0px; }
.postspecific .posts-stat-box .posts-stat-c div { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; }
.postspecific .posts-stat-box .posts-stat-c div.forward-wblog { width: 135px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.postspecific .posts-stat-box .posts-stat-b { width: 135px; height: 10px; overflow: hidden; background: rgba(0, 0, 0, 0) url("bg_poststat.png") no-repeat scroll 0px -5px; }
.posts-control { text-align: right; height: 20px; line-height: 20px; padding: 5px 0px; position: relative; }
.hot-list-club li { line-height: 16px; border-bottom: 1px dashed rgb(225, 213, 200); padding: 7px 0px 6px; }
.footer-club { text-align: center; padding-top: 20px; height: 150px; margin: 0px 0px -14px; line-height: 21px; background: rgb(192, 223, 224) none repeat scroll 0% 0%; }
.footer-club .c-sub { color: rgb(125, 156, 179); }
.footer-club .c-sub a:link, .footer-club .c-sub a:visited { text-decoration: none; color: rgb(36, 119, 179); }
.footer-club .c-sub a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
#TopScroll { margin: 450px 0px 0px 832px; }
@media not all {
}
.info_r { background: rgb(242, 250, 255) none repeat scroll 0% 0%; }
.info_r .gb-t, .info_r .gb-b { height: 10px; background: rgba(0, 0, 0, 0) url("bg_info_r.gif") no-repeat scroll 0px 0px; }
.info_r .gb-b { background-position: 0px -15px; height: 5px; overflow: hidden; }
.info_r .gb-c { border-right: 1px solid rgb(255, 255, 255); }
.info_r .userinfo, .usertips .userinfo { margin: 0px 0px 10px 10px; }
.userpic { float: left; }
.user-pic, .userPic { position: relative; left: 0px; top: 0px; width: 40px; height: 40px; display: block; padding: 0px 0px 2px; overflow: hidden; }
.user-pic span, .userPic span { position: absolute; width: 40px; height: 40px; display: block; background: rgba(0, 0, 0, 0) url("bg_user_circle.png") no-repeat scroll 0px 0px; top: 0px; left: 0px; cursor: pointer; }
.useridinfo { float: left; width: 100px; margin: 0px 0px 0px 5px; }
.userid { font-size: 12px; line-height: 18px; }
.detailed { border-bottom: 1px dashed rgb(225, 239, 250); }
.useratten li a, 　 .useratten li a:link, .useratten li a:visited, .useratten li a:hover { text-decoration: none; color: rgb(36, 119, 179); }
.useratten { margin: 0px 0px 10px; }
.useratten li a span { color: rgb(34, 59, 77); }
.useratten li a:hover span { text-decoration: underline; color: rgb(34, 59, 77); }
.useratten li { text-align: left; float: left; padding: 0px 10px 5px; border-right: 1px solid rgb(186, 216, 216); }
.useratten li strong { font-weight: bold; display: block; font-size: 20px; margin-bottom: 6px; }
.useratten .no-line { border-right: medium none; }
.more-show a, .more-hide a { background: rgba(0, 0, 0, 0) url("n_arrow.png") no-repeat scroll 0px 0px; }
.more-show a, .more-hide a { display: block; width: 70px; height: 20px; margin: 5px auto; line-height: 25px; }
.more-show a { background-position: right 0px; }
.more-hide a { background-position: right -25px; }
.more-show a:hover { background-position: right -50px; }
.more-hide a:hover { background-position: right -75px; }
.detailed-more-cont { display: none; }
.usernav-r .flowme, .usernav-r .reme, .usernav-r .myflow, .usernav-r .myfavorites, .usernav-r .myposts, .usernav-r .myblog, .usernav-r .mywblog { background: rgba(0, 0, 0, 0) url("icon_usernav_r.gif") no-repeat scroll 0px 0px; vertical-align: middle; overflow: hidden; width: 16px; height: 16px; margin-right: 8px; }
.usernav-r .reme { background-position: 0px -20px; }
.usernav-r .myflow { background-position: 0px -40px; }
.usernav-r .myposts { background-position: 0px -80px; }
.usernav-r li { height: 35px; line-height: 35px; padding-left: 10px; border-bottom: 1px dashed rgb(225, 239, 250); font-size: 14px; }
.usernav-r li a { color: rgb(36, 119, 179); }
.usernav-r .quit { padding-left: 34px; }
.name { position: relative; line-height: 26px; height: 26px; display: inline; }
.box1, .box2, .box3, .box4 { width: 350px; overflow: hidden; z-index: 9; position: absolute; font-size: 12px; line-height: 18px; }
.box1 { top: -170px; left: 0px; }
.useridinfo .userid a:link, .useridinfo .userid a:visited, .useridinfo .userid a:hover { text-decoration: none; color: rgb(0, 0, 0); }
.tips-input { background-color: rgb(246, 252, 252); border: 1px solid rgb(184, 203, 217); float: left; padding: 1px; }
.tips-input .suggest_title { padding: 5px 10px; cursor: default; background-color: rgb(241, 249, 249); }
#OverlayHelp { display: none; }
#OverlayHelp .close { display: none; }
#OverlayHelp .contentWrap { width: 1000px; margin: 0px auto; position: relative; z-index: 9999; top: 0px; }
#OverlayHelp .contentWrap div img { display: block; float: right; }
.help-show { position: absolute; top: 0px; right: 0px; }
.w1030px { width: 1030px; }
.w840px { width: 822px; }
.w180px { width: 200px; }
.w188px { width: 208px; }
.hot-list-club li.no-border { border: 0px none; }
.info_r .gb-t, .info_r .gb-b { background-image: url("bg_info_r_188.gif"); }
#TopScroll { margin: 450px 0px 0px 816px; }
.agree, .agree-on { padding: 2px 0px 0px 18px; background: rgba(0, 0, 0, 0) url("icon_good.gif") no-repeat scroll 0px 0px; }
.c-l-red, .c-l-red a:link, .c-l-red a:visited, .c-l-red a:hover { color: red; }
.top-fixed-nav { width: 100%; height: 40px; position: absolute; top: 0px; left: 0px; z-index: 99990; }
.top-fixed-nav .nav-con { width: 1030px; height: 42px; margin: 0px auto; font-size: 14px; position: relative; }
.nav-line-b { width: 100%; height: 2px; overflow: hidden; background: rgb(79, 162, 166) none repeat scroll 0% 0%; position: absolute; top: 40px; left: 0px; }
.nav-logo { display: block; width: 96px; height: 26px; text-indent: -9999px; background: rgba(0, 0, 0, 0) url("logo_nav_520.png") no-repeat scroll 0px 0px; line-height: 0; font-size: 0px; margin: 7px 0px 0px 10px; }
.nav-opacity { width: 100%; height: 40px; background: rgb(45, 121, 128) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; z-index: -1; opacity: 0.95; }
.nav-space-t { padding-top: 42px; }
.nav-menu { margin: 17px 0px 0px 20px; }
.nav-menu li { float: left; font-size: 14px; padding-bottom: 15px; position: relative; z-index: 99991; }
.nav-menu li a.nav-option { color: rgb(255, 255, 255); margin: 0px 10px; }
.nav-menu li a.nav-option:hover { color: rgb(45, 189, 189); }
.nav-menu li b { color: rgb(83, 105, 128); }
.nav-menu-ex-f { display: none; position: absolute; right: -15px; top: 30px; z-index: 99992; }
.nav-menu-ex { position: relative; width: 130px; padding: 5px; margin-top: 5px; background: rgb(45, 121, 128) none repeat scroll 0% 0%; z-index: 99999; border-radius: 5px; }
.nav-menu-ex a { display: block; color: rgb(255, 255, 255); padding-left: 30px; height: 36px; line-height: 36px; border-radius: 3px; transition: all 0.2s ease-in-out 0s; }
.nav-menu-ex a:hover { color: rgb(255, 255, 255); text-decoration: none; background: rgb(67, 181, 191) none repeat scroll 0% 0%; }
.nav-menu-ex .dot-ex { display: block; width: 100%; height: 9px; position: absolute; left: 0px; top: -8px; background: rgba(0, 0, 0, 0) url("fixed_nav_icon_520.png") no-repeat scroll 108px 0px; }
.sear-box-trans { margin: 4px 25px 0px 0px; position: relative; }
.sear-bg { display: block; background-color: rgb(228, 240, 240); border-radius: 3px; transition: all 0.3s ease-in-out 0s; }
.sear-bg:hover { background-color: rgb(255, 255, 255); }
.sear-input { color: rgb(184, 203, 217); width: 160px; height: 22px; margin: 0px; line-height: 22px; padding: 5px; font-size: 14px; border: 0px none; background-color: transparent; }
.sear-go { display: block; width: 32px; height: 31px; border: 0px none; position: absolute; top: 1px; right: 0px; cursor: pointer; background: rgba(0, 0, 0, 0) url("fixed_nav_icon_520.png") no-repeat scroll 6px -16px; border-radius: 3px; }
.sear-go:hover { background-position: 6px -100px; }
.nav-user-msg-f { margin-top: 4px; line-height: 32px; margin-right: 25px; }
.nav-user-msg-f a { color: rgb(255, 255, 255); }
.nav-user-msg-f a:hover { color: rgb(45, 189, 189); }
.nav-user-logo { display: block; width: 32px; height: 36px; overflow: hidden; font-size: 0px; line-height: 0px; }
.nav-user-logo img { width: 32px; height: 32px; box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15); border-radius: 30px; transition: all 0.3s ease-in-out 0s; }
.nav-user-logo:hover img { border-radius: 2px; }
.nav-menu-other { margin: 8px 20px 0px 3px; }
.nav-menu-other li { padding-bottom: 10px; }
.nav-menu-other li a.nav-option { margin: 0px 15px; }
.nav-menu-other li a.nav-l { margin: 0px 15px 0px 0px; }
.nav-menu-other .nav-menu-ex-f { right: 5px; top: 37px; }
.nav-menu-other .nav-menu-ex a { position: relative; padding-left: 38px; }
.nav-menu-other .nav-menu-ex b { position: absolute; left: 7px; top: 5px; }
.nav-icon { display: block; width: 25px; height: 25px; background: rgba(0, 0, 0, 0) url("fixed_nav_option_icon_520.png") no-repeat scroll center 0px; }
.nav-op-post { background-position: center -3px; }
.nav-op-msg { background-position: center -32px; }
.nav-op-set { background-position: center -62px; }
.nav-op-info { background-position: center -242px; }
.nav-op-atme { background-position: center -122px; }
.nav-op-reme { background-position: center -152px; }
.nav-op-fans { background-position: center -212px; }
.nav-op-prompt { background-position: center -272px; }
.nav-op-record { background-position: center -362px; }
.nav-op-mypost { background-position: center -392px; }
.nav-op-mycollect { background-position: center -422px; }
.nav-op-myre { background-position: center -482px; }
.nav-op-hot-post { background-position: center -696px; }
.nav-menu-other .nav-menu-ex a:hover .nav-icon {  }
.nav-menu-left { width: 580px; height: 40px; float: left; }
.nav-menu-right { width: 440px; height: 40px; float: right; }
.header { height: 110px; }
.header .logo { width: 230px; height: 110px; float: left; }
.header .logo a { width: 190px; height: 60px; margin: 10px 10px 2px 8px; overflow: hidden; }
.header .logo-ms { float: left; width: 230px; height: 26px; background: rgba(0, 0, 0, 0) url("logo_ms.png") no-repeat scroll 0px 0px; }
.header .forum { top: 17px; }
.fixed-outer .msg-box { margin-top: 50px; }
.pore, .manange-panel .agree-box { position: relative; }
.red { color: rgb(230, 57, 34); }
.nav-icon-s2 { background: rgba(0, 0, 0, 0) url("fixed_nav_icon_520.png") no-repeat scroll 0px 0px; }
.nav-user-msg-f { position: relative; padding-bottom: 6px; z-index: 9999; }
.nav-user-msg-f .nav-menu-ex-f { top: 41px; right: -5px; }
.nav-user-msg-f .nav-menu-ex a { position: relative; padding-left: 38px; }
.nav-user-msg-f .nav-menu-ex a:hover { color: rgb(255, 255, 255); }
.nav-user-msg-f .nav-menu-ex b { position: absolute; left: 7px; top: 5px; }
.nav-menu-intelligent { border-left: 1px solid rgb(41, 111, 116); border-right: 1px solid rgb(67, 145, 150); margin-top: 0px; }
.nav-menu-intelligent li { width: 96px; height: 40px; padding: 0px; border-left: 1px solid rgb(67, 145, 150); border-right: 1px solid rgb(41, 111, 116); }
.nav-menu-intelligent li a.nav-option:hover { color: rgb(255, 255, 255); }
.nav-menu-intelligent li a.nav-option { display: block; height: 23px; line-height: 25px; margin: 0px; padding: 8px 10px 9px 13px; }
.nav-menu-intelligent li a .nav-icon { display: inline-block; height: 23px; vertical-align: middle; }
.now-in-intelligent, .now-in-intelligent li { border: 0px none; }
.now-in-intelligent a.nav-option { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.nav-menu-intelligent.now-in-intelligent { border-right: 1px solid rgb(67, 145, 150); }
.nav-menu-intelligent li.btn-c { border-left: 1px solid rgb(67, 145, 150); border-right: 1px solid rgb(41, 111, 116); }
.icon-try-con { background: rgba(0, 0, 0, 0) url("common_icon_b.gif") no-repeat scroll 0px 0px; }
.nav-menu-intelligent .nav-option { position: relative; }
.nav-menu-intelligent li { width: 110px; }
.nav-menu-intelligent li a.in-new { width: 96px; }
.nav-menu-intelligent li a.in-new .nav-t-new { position: absolute; top: 3px; right: 3px; display: block; width: 21px; height: 9px; background-position: -60px 0px; }
.collection-f { display: inline; position: relative; z-index: 999; }
.collection-btn {  }
.coll-box { display: none; outline: medium none; width: 190px; padding: 10px 15px 18px; z-index: 999; border: 1px solid rgb(200, 227, 228); border-radius: 5px; text-align: left; position: absolute; bottom: 25px; left: -13px; background: rgb(239, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 1px 2px rgb(204, 218, 219); }
.coll-box .coll-succeed { font-size: 14px; color: rgb(0, 0, 0); margin-bottom: 10px; }
.coll-box .coll-succeed i { display: inline-block; width: 16px; height: 16px; margin-right: 5px; vertical-align: middle; background: rgba(0, 0, 0, 0) url("icon_reg_001.gif") no-repeat scroll -7px -188px; }
.coll-box .add-tag { margin-bottom: 10px; }
.coll-box .add-tag .input-box-f { width: 135px; margin: 0px; }
.coll-box .add-tag .label-msg { width: 115px; font-size: 12px; padding: 6px 8px 6px 12px; }
.coll-box .add-tag .input-text { width: 114px; font-size: 12px; padding: 6px 10px; box-shadow: 0px 1px 1px rgb(223, 233, 234) inset; border-style: solid; border-color: rgb(192, 223, 225); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 1px 1px; border-radius: 3px 0px 0px 3px; }
.coll-box .add-tag a.add-btn { display: block; text-decoration: none; font-size: 14px; text-shadow: 0px -1px 0px rgb(74, 144, 154); color: rgb(255, 255, 255); text-align: center; width: 53px; height: 32px; line-height: 32px; border: 1px solid rgb(84, 173, 185); background: rgb(93, 180, 192) none repeat scroll 0% 0%; border-radius: 0px 3px 3px 0px; }
.coll-box .now-tag { width: 190px; height: 20px; overflow: hidden; color: rgb(184, 203, 217); }
.coll-box .close-coll { display: block; position: absolute; top: 10px; right: 10px; width: 9px; height: 9px; padding: 3px; background-position: 3px -276px; }
.coll-box .close-coll:hover { background-color: rgb(193, 225, 225); background-position: -30px -276px; border-radius: 2px; }
.coll-box .coll-dot { display: block; position: absolute; bottom: -8px; left: 13px; width: 20px; height: 8px; background-position: 0px -303px; }
.coll-box-b { bottom: auto; top: 25px; }
.coll-box-b .coll-dot { bottom: auto; top: -8px; background-position: 0px -327px; }
.collection-f .prompt-ok, .collection-f .prompt-err { top: -50px; left: -15px; height: 30px; overflow: hidden; }
.collection-f .prompt-content { overflow: hidden; padding: 10px 15px 10px 40px; margin-bottom: 5px; top: 100px; background-color: rgb(239, 255, 255); }
.collection-f .prompt-ok .prompt-content i, .collection-f .prompt-err .prompt-content i { top: 11px; left: 13px; }
.coll-pormpt {  }
.ico-newshare { display: inline-block; background: rgba(0, 0, 0, 0) url("ico_share.png") no-repeat scroll 0px -999em; }
.kd-app-code { width: 112px; height: 185px; border: 1px solid rgb(186, 216, 216); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: 6px; margin-top: 10px; padding-top: 27px; position: relative; }
.kd-app-code .close { display: block; width: 20px; height: 20px; border-left: 1px solid rgb(186, 216, 216); border-bottom: 1px solid rgb(186, 216, 216); cursor: pointer; position: absolute; top: 0px; right: 0px; }
.kd-app-code .close:hover { background: rgb(239, 255, 255) none repeat scroll 0% 0%; }
.kd-app-code .close b { display: inline-block; width: 9px; height: 9px; margin-left: 6px; margin-top: 6px; background-position: -101px 0px; }
.kd-app-code img { display: block; width: 94px; margin: 0px auto; }
.kd-app-code .code-pans { width: 95px; margin: 0px auto; text-align: center; font-size: 13px; line-height: 16px; }
.kd-app-code .code-pans .code-text-box { margin-top: 10px; height: 50px; }
.code-tabs { width: 100%; height: 25px; position: absolute; bottom: 0px; left: 0px; }
.code-tabs a { display: block; float: left; width: 50%; height: 25px; line-height: 25px; text-align: center; background: rgb(203, 226, 226) none repeat scroll 0% 0%; }
.code-tabs a.current { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.code-tabs a:hover { text-decoration: none; color: rgb(0, 0, 0); }
.new-share-main { width: 650px; height: 45px; margin: 0px auto; padding-top: 20px; padding-bottom: 80px; }
.new-share-main .new-share { float: left; width: 280px; padding-top: 20px; line-height: 20px; }
.new-share-main .new-share span { padding-top: 2px; }
.new-share-main .new-share a { display: inline-block; float: left; height: 24px; width: 24px; margin-left: 5px; text-indent: -999em; opacity: 1; }
.new-share-main .new-share a:hover { opacity: 0.7; }
.new-share-main .new-share a.ico-sina { background-position: 0px 0px; }
.new-share-main .new-share a.ico-qqt { background-position: -25px 0px; }
.new-share-main .new-share a.ico-shareurl { background-position: -75px 0px; margin-left: 0px; margin-top: -2px; }
.new-share-main .new-share .code-main { display: inline-block; float: left; height: 24px; width: 24px; margin-left: 5px; position: relative; z-index: 1000; }
.new-share-main .kd-app-download { float: right; width: 225px; }
.new-share-main .new-share .shareurl-code { height: 85px; width: 270px; background: rgba(0, 0, 0, 0) url("shareurl_box.png") no-repeat scroll 0px 0px; padding: 23px 20px 15px 15px; cursor: auto; position: absolute; top: 30px; left: -20px; z-index: 100; }
.new-share-main .new-share .shareurl-code .close { float: right; margin-top: -5px; margin-right: -7px; width: 9px; height: 9px; cursor: pointer; background-position: -101px 0px; }
.new-share-main .new-share .shareurl-code .shareurl-text { height: 80px; position: relative; }
.new-share-main .new-share .shareurl-code .shareurl-text img { float: left; }
.new-share-main .new-share .shareurl-code .shareurl-text p { float: right; width: 175px; padding-top: 5px; font-size: 14px; line-height: 22px; }
.lh25px { line-height: 25px !important; }
.posts-control { opacity: 0.4; transition: all 0.3s ease-out 0s; }
.reply-box:hover .posts-control, .posted-box-add:hover .posts-control { opacity: 1; }
a.reward-btn-big { display: block; width: auto; height: 36px; padding-left: 20px; padding-right: 20px; line-height: 36px; text-align: center; text-decoration: none; font-size: 16px; color: rgb(255, 255, 255); background: rgb(247, 85, 62) none repeat scroll 0% 0%; border-radius: 5px; opacity: 0.8; transition: all 0.2s ease-out 0s; }
a.reward-btn-big:hover { opacity: 1; }
a.reward-btn-big2 { display: inline-block; height: 25px; line-height: 25px; font-size: 14px; }
.reward-fixed-box { height: 100%; width: 100%; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; position: fixed; top: 0px; left: 0px; z-index: 1000; }
.reward-fixed-main { width: 490px; height: 220px; border: 5px solid rgba(0, 0, 0, 0.1); border-radius: 10px; position: absolute; top: 50%; left: 50%; }
.reward-fixed-cont { border-radius: 5px; }
.reward-fixed-cont strong { font-weight: bold; }
.reward-title { height: 35px; line-height: 35px; background: rgb(93, 175, 186) none repeat scroll 0% 0%; text-indent: 10px; color: rgb(255, 255, 255); font-size: 16px; border-radius: 5px 5px 0px 0px; position: relative; }
.reward-title .REclose { display: block; width: 11px; height: 11px; cursor: pointer; background: rgba(0, 0, 0, 0) url("reward-close.gif") no-repeat scroll 0% 0%; opacity: 0.8; position: absolute; top: 11px; right: 10px; }
.reward-title .REclose:hover { opacity: 1; }
.reward-fixed-cont .fixed-cont { height: 155px; padding: 20px 20px 10px; background: rgb(239, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; }
.reward-choose {  }
.reward-choose label { display: inline-block; height: 20px; line-height: 20px; margin-right: 10px; }
.reward-choose .Rad { float: left; width: 15px; margin-top: 3px; }
.reward-choose .number { float: left; width: 30px; }
.reward-choose label input.custom-reward { display: inline-block; float: left; width: 50px; height: 20px; line-height: 20px; padding-left: 5px; padding-right: 5px; border-radius: 2px; border: 1px solid rgb(192, 223, 225); }
.reward-reply { height: auto; margin-top: 10px; margin-bottom: 15px; }
.reply-words { height: 45px; width: 440px; line-height: 20px; border: 1px solid rgb(192, 223, 225); padding: 5px; outline: medium none; }
.reply-yes-no { display: inline-block; float: left; width: 70px; height: 25px; line-height: 25px; margin-right: 10px; }
.reply-yes-no input { display: block; float: left; width: 15px; margin-top: 5px; margin-right: 5px; }
.reply-yes-no b { display: block; width: 50px; float: left; }
.reward-btn-s-box { float: left; display: inline-block; width: 72px; height: 25px; }
.reward-userfixed-box { height: 100%; width: 100%; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; position: fixed; top: 0px; left: 0px; z-index: 1000; }
.reward-userfixed-main { width: 780px; height: auto; max-height: 460px; border: 5px solid rgba(0, 0, 0, 0.1); border-radius: 10px; position: absolute; top: 50%; left: 50%; }
.userfixed-cont { height: auto; max-height: 405px; padding: 10px 20px; background: rgb(239, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; }
.userfixed-cont .titBox { height: 25px; line-height: 25px; color: rgb(125, 179, 179); margin-bottom: 5px; border-bottom: 1px solid rgb(212, 235, 235); }
.userfixed-cont .userID { float: left; width: 100px; padding-left: 5px; padding-right: 5px; text-align: center; }
.userfixed-cont .userTime { float: left; width: 150px; padding-left: 5px; padding-right: 5px; text-align: center; }
.userfixed-cont .rewNum { float: left; width: 80px; padding-left: 5px; padding-right: 5px; text-align: center; }
.userfixed-cont .rewMsg { float: right; width: 270px; padding-left: 5px; padding-right: 5px; text-align: center; }
.userfixed-cont .userList { height: auto; max-height: 330px; padding-top: 5px; padding-bottom: 5px; overflow-y: auto; }
.userfixed-cont .userRewNum { text-align: right; padding-top: 10px; margin-top: 5px; border-top: 1px solid rgb(212, 235, 235); }
.pcadcontroller { position: relative; z-index: 1; }
