/* Code tidied up by ScrapBook */
html {  }
body { font-size: 12px; font-family: "宋体"; }
#doc { width: 1000px; margin: auto; }
#doc #bd { padding-bottom: 10px; }
.layout-middle { float: left; display: inline; }
.layout-left { float: left; display: inline; margin-right: 10px; width: 150px; }
.layout-wrapper-lmr, .layout-wrapper-lm, .layout-wrapper-mr, .layout-wrapper-m { padding-top: 10px; }
.layout-wrapper-lm .layout-middle { width: 840px; }
a { color: rgb(41, 101, 177); outline: 0px none; text-decoration: none; }
a:hover { text-decoration: underline; outline: 0px none; }
input:focus, textarea:focus { outline: 0px none; }
textarea { resize: none; }
strong { font-weight: 400; }
#foot { width: 1000px; margin: 25px auto 0px; padding-bottom: 36px; text-align: center; line-height: 18px; }
#foot a {  }
#foot .copyright { font-family: Arial,Helvetica,sans-serif; }
