/* Code tidied up by ScrapBook */
.sj-feed-content {  }
.feed-content-item { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 15px; margin-bottom: 10px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); position: relative; }
.f-i-hd { position: relative; z-index: 10; }
.f-i-hd .hd-pic { float: left; display: inline; width: 50px; height: 50px; }
.f-i-hd .hd-pic img { width: 50px; height: 50px; display: block; }
.f-i-hd .hd-info { margin-left: 60px; height: 49px; border-bottom: 1px solid rgb(233, 233, 233); overflow: hidden; }
.f-i-hd .hd-info .info-name { font-size: 14px; line-height: 24px; }
.f-i-hd .hd-info .info-from { color: rgb(160, 160, 160); line-height: 24px; }
.f-i-hd .hd-info .info-from span { margin-right: 8px; }
.f-i-bd { margin-top: 15px; }
.f-i-bd .bd-text {  }
.f-i-bd .bd-text .title { font-size: 16px; line-height: 26px; font-weight: 400; color: rgb(0, 0, 0); width: 300px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; }
.f-i-bd .bd-text .article { font-size: 14px; color: rgb(51, 51, 51); line-height: 24px; overflow-wrap: break-word; word-break: break-all; }
.f-i-bd .bd-operate { margin-top: 10px; }
.f-i-bd .bd-comment { margin-top: 10px; display: none; }
.sj-feed-page { background: rgb(253, 253, 253) none repeat scroll 0% 0%; padding: 15px 0px 10px; margin-top: -10px; }
.sj-operate { height: 18px; line-height: 18px; overflow: hidden; }
.sj-operate .handle { float: right; display: inline; }
.sj-operate .handle .split-line { margin: 0px 8px; color: rgb(226, 231, 237); font-family: "宋体"; }
.sj-operate .handle .praise-icon { display: inline-block; vertical-align: -2px; width: 12px; height: 14px; font-size: 0px; background: rgba(0, 0, 0, 0) url("suiji-icons-png24_5b2981f.png") no-repeat scroll 0px -153px; }
.sj-operate .handle a.praise .praise-icon { background-position: 0px -153px; }
.sj-operate .handle a.praised .praise-icon { background-position: -12px -153px; }
.sj-operate .handle a.praised, .sj-operate .handle a.collected { color: rgb(160, 160, 160); }
.sj-comment { border-top: 1px solid rgb(225, 225, 225); padding-top: 15px; }
.sj-comment .comment-wrapper {  }
.sj-comment .comment-wrapper .comment-title { height: 22px; line-height: 22px; overflow: hidden; }
.sj-comment .comment-wrapper .comment-title .cm-prompt { float: right; display: inline; color: rgb(160, 160, 160); }
.sj-comment .comment-wrapper .comment-title .cm-prompt span { color: rgb(255, 102, 0); }
.sj-comment .comment-wrapper .comment-title .cm-title { font-size: 14px; color: rgb(41, 101, 177); }
.sj-comment .comment-wrapper .comment-area { height: 40px; border: 1px solid rgb(220, 220, 220); padding: 4px 64px 4px 4px; position: relative; }
.sj-comment .comment-wrapper .comment-area .cm-textarea { border: 0px none; width: 100%; height: 40px; line-height: 20px; overflow: auto; }
.sj-comment .comment-wrapper .comment-area .cm-button { position: absolute; top: -1px; right: -1px; width: 60px; height: 50px; border: 1px solid rgb(223, 223, 223); background: rgb(247, 247, 247) none repeat scroll 0% 0%; cursor: pointer; color: rgb(134, 134, 134); font-weight: 700; }
.sj-comment .comment-wrapper .comment-area .cm-button:hover { background: rgb(223, 223, 223) none repeat scroll 0% 0%; }
.sj-comment .comment-wrapper .comment-toolbar { text-align: right; height: 20px; line-height: 20px; overflow: hidden; }
.sj-comment .comment-wrapper label { vertical-align: middle; color: rgb(160, 160, 160); }
.sj-comment .comment-wrapper .cm-checkbox { vertical-align: middle; margin: -2px 4px 0px 0px; }
.sj-comment .comment-list { margin-top: 10px; }
#suiji_self_container { font-family: "微软雅黑",Arial; }
.suiji-self-nav { padding: 15px 15px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.suiji-self-nav .self-nav-tab { border-bottom: 1px solid rgb(232, 232, 232); padding: 0px 10px; }
.suiji-self-nav .self-nav-tab .tab-item { float: left; display: inline; padding: 6px 0px; }
.suiji-self-nav .self-nav-tab .tab-item a { padding: 0px 10px; border-right: 1px solid rgb(232, 232, 232); }
.suiji-self-nav .self-nav-tab .on { background: rgb(246, 246, 246) none repeat scroll 0% 0%; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(232, 232, 232) rgb(232, 232, 232) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px 0px -1px -1px; }
.suiji-self-nav .self-nav-tab .on a { border-right: 0px none; color: rgb(68, 68, 68); font-weight: 700; }
