/* Code tidied up by ScrapBook */
body { margin: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(45, 45, 45); font-family: "宋体","Tahoma",sans-serif; }
dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td { margin: 0px; padding: 0px; font-weight: normal; }
h1, h2 { margin: 0px; padding: 0px; font-size: 14px; font-weight: bold; }
h3, h4, h5, h6 { margin: 0px; padding: 0px; font-size: 12px; font-weight: normal; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: inherit; }
ul, li { list-style: outside none none; }
a { color: rgb(45, 45, 45); text-decoration: none; }
a:hover { color: rgb(255, 51, 0); text-decoration: underline; }
.cf {  }
.cf::after { content: "."; display: block; visibility: hidden; clear: both; height: 0px; }
.cms_topnav, .cms_head, .cms_body, .cms_foot, .cms_template_document { clear: both; margin: 0px auto; }
.cms_head { margin-bottom: -10px; }
.cms_topnav, .cms_body, .cms_foot { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 890px; }
.cms_body { padding: 10px 0px; }
.tui-left, .tui-center { margin: 0px 10px 0px 0px; }
.tui-right, .tui-870 .tui-center { margin: 0px; }
.tui-870, .tui-430_430, .tui-510_350, .tui-350_510, .tui-590_270, .tui-270_590, .tui-630_230, .tui-230_630, .tui-310_310_230, .tui-190_470_190, .tui-870 .tui-center { width: 870px; margin: 0px auto; }
.tui-box { clear: both; margin: 0px auto 10px; }
.tui-list-box .hd h2 { margin: 2px 0px 0px; line-height: 28px; text-align: left; float: left; }
.tui-list-box .hd span { font-size: 12px; padding: 2px 0px 0px 10px; line-height: 28px; text-align: right; float: right; }
.tui-list-box .bd { padding: 10px 8px 4px 10px; }
.tui-list-box h3 { width: auto; float: left; }
.tui-text-list ul li { line-height: 22px; clear: both; }
.tui-text-list ul li h3 { float: left; line-height: 22px; overflow: hidden; }
.tui-text-list ul li span { margin: 0px 0px 0px 10px; }
.tui-text-list ul li h3 a { padding: 0px; }
.tui-text-list ul li .sectionShortName { float: left; padding: 0px 5px 0px 0px; }
.li-4 ul li { width: 24.95%; float: left; clear: none; }
.tui-list-box .hd h2 { color: rgb(0, 68, 153); }
.tui-section .hd { background: rgb(225, 239, 252) none repeat scroll 0% 0%; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(189, 207, 227) rgb(189, 207, 227) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 10px; height: 30px; }
.tui-section .bd { border: 1px solid rgb(189, 207, 227); }
@media not all {
}
.default:hover, .default a:hover, .pointer:hover, .pointer a:hover, .crosshair:hover, .crosshair a:hover, .help:hover, .help a:hover, .text:hover, .text a:hover, .wait:hover, .wait a:hover { text-decoration: none; }
.text, .text a { cursor: text; }
