/* Code tidied up by ScrapBook */
.tui-870, .tui-870 .tui-center { width: 860px; }
.custom_css_bd121112029 { text-align: right; }
.custom_css_bd121112029 ul li { line-height: 14px; }
.custom_css_bd121112029 ul li a { color: rgb(150, 150, 150); background: rgba(0, 0, 0, 0) url("top10.gif") no-repeat scroll 0% 0%; width: 85px; padding-left: 14px; height: 14px; }
.custom_css_bd121112029 ul li a:hover { color: rgb(150, 150, 150); }
.custom_css121111947 .hd { display: none; }
.custom_css121111947 .bd { border-color: rgb(226, 226, 226); border-width: 1px; border-style: none none solid; padding: 0px; }
.tui-text-list ul li span { margin-left: 0px; }
.custom_css12111611 .hd { display: none; }
.custom_css12111611 .bd { border: medium none; padding: 0px; }
.custom_css_bd12111611 ul li h3 a { color: rgb(75, 125, 189); }
.custom_css_bd12111611 ul li h3 a:hover { color: rgb(255, 51, 0); }
.custom_css_bd12111611 ul li .sectionShortName a { color: rgb(179, 179, 179); }
.custom_css_bd12111611 a { color: rgb(179, 179, 179); }
.sectionShortName { color: rgb(179, 179, 179); }
body .cms_body, body .cms_topnav { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.cms_topnav, .cms_body, .cms_foot { width: 860px; }
