/* Code tidied up by ScrapBook */
a { color: rgb(41, 101, 177); text-decoration: none; outline: 0px none; }
#container { width: 1000px; margin: 0px auto; padding-bottom: 34px; }
#container .layout-wrapper { background: rgb(255, 255, 255) url("set_bg_repeatY_91ef3ae.png") repeat-y scroll left top; padding-bottom: 80px; position: relative; }
.layout-wrapper .left-area { float: left; display: inline; width: 150px; margin-right: 30px; }
.layout-wrapper .main-area { float: left; display: inline; width: 820px; }
.content { padding: 50px 0px 80px; min-height: 520px; }
.footer { border-top: 2px solid rgb(235, 235, 235); padding: 15px 0px; position: absolute; bottom: 0px; width: 820px; }
.footer p { text-align: center; font: 12px/24px Arial; color: rgb(85, 85, 85); }
.footer p a { margin: 0px 5px; }
#set_left_nav { width: 150px; font-family: "微软雅黑"; }
.nav-title { height: 53px; background: rgba(0, 0, 0, 0) url("set_nav_title_664f0e0.png") no-repeat scroll 0px 0px; }
.nav-title h2 { color: rgb(255, 255, 255); font-weight: 400; font-size: 20px; line-height: 30px; height: 30px; overflow: hidden; padding: 10px 0px 10px 45px; background: rgba(0, 0, 0, 0) url("set_nav_icons_6be57d0.png") no-repeat scroll 15px 15px; white-space: nowrap; }
.nav-inner { padding: 0px 10px; }
.nav-inner .menu-box { border-bottom: 1px solid rgb(71, 166, 233); }
.nav-inner .menu-box::after { content: ""; display: block; border-bottom: 1px solid rgb(149, 207, 251); }
.menu-box .list { padding: 10px 0px; margin: 0px -10px; }
.menu-box .list dt { padding: 4px 0px; height: 30px; }
.menu-box .list dt a { color: rgb(255, 255, 255); font-size: 18px; line-height: 30px; display: block; height: 30px; padding-left: 40px; background-image: url("set_nav_icons_6be57d0.png"); background-repeat: no-repeat; white-space: nowrap; overflow: hidden; }
.menu-box .list dt .ico-1 { background-position: 19px -43px; }
.menu-box .list dt .ico-2 { background-position: 17px -134px; }
.menu-box .list dt .ico-3 { background-position: 15px -228px; }
.menu-box .list dt.curr { position: relative; }
.menu-box .list dt.curr a { color: rgb(7, 147, 227); background-color: rgb(219, 242, 255); }
.menu-box .list dt.curr::after { content: ""; display: block; width: 12px; height: 12px; position: absolute; background: rgba(0, 0, 0, 0) url("set_nav_icons_6be57d0.png") no-repeat scroll 0px -410px; top: 14px; right: -6px; }
.menu-box .list dt.curr .ico-1 { background-position: 19px -88px; }
.menu-box .list dt.curr .ico-2 { background-position: 17px -182px; }
.menu-box .list dt.curr .ico-3 { background-position: 15px -273px; }
.menu-box .list dd { padding: 1px 0px; height: 30px; }
.menu-box .list dd a { color: rgb(255, 255, 255); font-size: 14px; line-height: 30px; display: block; height: 30px; padding-left: 55px; background: rgba(0, 0, 0, 0) url("set_nav_icons_6be57d0.png") no-repeat scroll 40px -317px; white-space: nowrap; overflow: hidden; }
.menu-box .list dd a:hover { color: rgb(7, 147, 227); background-color: rgb(219, 242, 255); background-position: 40px -358px; }
.menu-box .list dd.curr { position: relative; }
.menu-box .list dd.curr a { color: rgb(7, 147, 227); background-color: rgb(219, 242, 255); background-position: 40px -358px; }
.menu-box .list dd.curr::after { content: ""; display: block; width: 12px; height: 12px; position: absolute; background: rgba(0, 0, 0, 0) url("set_nav_icons_6be57d0.png") no-repeat scroll 0px -410px; top: 11px; right: -6px; }
div, ul, li, p { border: 0px none; list-style-type: none; margin: 0px; padding: 0px; font-family: "Microsoft Yahei"; font-size: 14px; }
a:focus, input, textarea { outline-style: none; }
.infobox { margin-left: -10px; margin-top: -20px; }
.info_item { width: 715px; line-height: 45px; height: 45px; float: left; display: inline; }
.info_item label { width: 100px; float: left; display: inline; text-align: right; }
.info_item p { float: left; margin-left: 12px; }
.sex_item p { width: 90px; }
.i_checkbox { margin-right: 8px; vertical-align: -2px; margin-left: 0px; }
.info_item span { font-size: 12px; margin-left: 28px; }
select { height: 28px; line-height: 28px; font-family: "Microsoft Yahei"; color: rgb(51, 51, 51); margin-right: 13px; padding: 0px 5px; }
select option { padding: 0px 5px; }
.log_dis { color: rgb(169, 169, 169); }
.log_one { background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -109px; padding-left: 18px; color: rgb(169, 169, 169); }
.log_rep { background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -147px; padding-left: 18px; color: rgb(241, 0, 0); }
.log_suc { background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -128px; padding-left: 18px; color: rgb(169, 169, 169); }
.i_input { border: 1px solid rgb(239, 239, 239); width: 388px; height: 28px; margin-left: 12px; font-family: "Microsoft Yahei"; padding-left: 10px; font-size: 14px; }
.i_input_short { border: 1px solid rgb(239, 239, 239); width: 188px; height: 28px; margin-left: 12px; font-family: "Microsoft Yahei"; padding-left: 10px; font-size: 14px; }
.i_input_shorter { border: 1px solid rgb(239, 239, 239); width: 128px; height: 28px; font-family: "Microsoft Yahei"; padding-left: 10px; font-size: 14px; }
.i_tagbox { width: 600px; float: left; }
.i_tagbox a { background: rgb(159, 220, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; padding: 4px 5px 4px 10px; }
.i_tagbox a.close { padding-left: 5px; }
.tag_input { display: block; float: left; width: 600px; }
.i_btn_save { background: rgba(0, 0, 0, 0) url("i-btn_b23de85.gif") no-repeat scroll 0% 0%; width: 109px; height: 31px; border: 0px none; cursor: pointer; margin: 30px 0px 0px 112px; }
.tag_box { width: 600px; float: left; }
ul.my_tags li { float: left; display: inline; margin-left: 12px; }
ul.my_tags li a { background: rgb(159, 220, 255) none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); padding: 4px 5px 4px 10px; }
ul.my_tags li a.close { padding-left: 5px; }
.tag_add { float: left; }
.in_my_tag { border: 1px solid rgb(239, 239, 239); width: 388px; height: 28px; margin-left: 12px; font-family: "Microsoft Yahei"; padding-left: 10px; font-size: 14px; }
.btn_my_tag { background: rgb(159, 220, 255) none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); padding: 5px 10px; border: 0px none; border-radius: 3px; }
.hot_tag_box { margin-left: 112px; }
.hot_tag_box h3 { float: left; font-size: 14px; font-weight: 400; line-height: 28px; }
.hot_tags { float: left; margin-top: 10px; }
.hot_tags a { background: rgb(159, 220, 255) none repeat scroll 0% 0%; text-decoration: none; color: rgb(255, 255, 255); margin-bottom: 10px; height: 28px; line-height: 28px; padding: 0px 10px; margin-right: 12px; display: inline; float: left; }
.shuxinicon { background: rgba(0, 0, 0, 0) url("sxicon_8da4b4b.gif") no-repeat scroll center center; width: 18px; height: 28px; line-height: 80px; overflow: hidden; display: block; }
.contact { margin: 20px 0px 0px 20px; }
.correct, .alert { float: left; width: 400px; margin-left: 265px; margin-top: 40px; }
.level_tit { width: 550px; margin-left: 55px; margin-top: 50px; height: 52px; }
.level_tit ul li { float: left; display: inline; width: 45px; background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -272px; margin-right: 45px; text-align: center; line-height: 22px; }
.level_tit ul li p { color: rgb(255, 255, 255); }
.level_tit ul li span { color: rgb(77, 179, 238); }
.level_box { background: rgba(0, 0, 0, 0) url("level_30a56fc.gif") no-repeat scroll 0px -33px; width: 550px; margin-left: 75px; height: 32px; position: relative; }
.level_inner { background: rgba(0, 0, 0, 0) url("level_30a56fc.gif") no-repeat scroll 0% 0%; height: 32px; }
.level_inner span { position: absolute; width: 50px; height: 22px; background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -168px; top: 40px; margin-left: -25px; color: rgb(77, 179, 238); text-align: center; padding-top: 10px; }
.level_rule { margin-left: 170px; margin-top: 65px; line-height: 25px; }
.level_rule p { background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -238px; margin-top: 20px; padding-left: 33px; }
p.level_down { background: rgba(0, 0, 0, 0) url("i-icon_f5f4e3a.gif") no-repeat scroll 0px -207px; }
#i_career { width: 240px; }
#industry_type { width: 250px; }
