/* Code tidied up by ScrapBook */
html {  }
body { font-size: 12px; font-family: "宋体"; }
#doc { width: 1000px; margin: auto; }
#doc #bd { padding-bottom: 10px; }
.layout-middle { float: left; display: inline; }
.layout-left { float: left; display: inline; margin-right: 10px; width: 150px; }
.layout-right { float: right; display: inline; margin-left: 10px; width: 250px; }
.layout-wrapper-lmr, .layout-wrapper-lm, .layout-wrapper-mr, .layout-wrapper-m { padding-top: 10px; }
.layout-wrapper-lmr .layout-middle { width: 580px; }
a { color: rgb(41, 101, 177); outline: 0px none; text-decoration: none; }
a:hover { text-decoration: underline; outline: 0px none; }
input:focus, textarea:focus { outline: 0px none; }
textarea { resize: none; }
strong { font-weight: 400; }
#foot { width: 1000px; margin: 25px auto 0px; padding-bottom: 36px; text-align: center; line-height: 18px; }
#foot a {  }
#foot .copyright { font-family: Arial,Helvetica,sans-serif; }
a.t-setfocus {  }
a.t-notfocus, a.t-focused, a.t-friend, a.t-focus-loading { display: inline-block; width: 56px; height: 20px; overflow: hidden; background: rgba(0, 0, 0, 0) url("t_bg_6ee0d61.gif") no-repeat scroll center center; }
a.t-notfocus { background-position: left top; }
