/* Code tidied up by ScrapBook */
body { background: rgb(163, 179, 191) none repeat scroll 0% 0%; color: rgb(34, 59, 77); }
#SmallLoginBox .globalsearch { margin: -3px 0px 0px; }
.user-l { width: 200px; float: left; }
.user-r { width: 700px; float: right; }
.userpic-b { background: rgb(247, 252, 255) url("bg_userpic_b_001.gif") no-repeat scroll right bottom; padding: 5px 5px 15px; margin: 0px 0px 10px; position: relative; width: 190px; height: 190px; overflow: hidden; }
.userpic-b img { width: 190px; height: 190px; display: block; }
.userpic-b-tl { background: rgba(0, 0, 0, 0) url("bg_userpic_b_001.gif") no-repeat scroll 0px 0px; position: absolute; top: 0px; left: 0px; width: 5px; height: 5px; overflow: hidden; z-index: 100; }
.userpic-b-tr { background: rgba(0, 0, 0, 0) url("bg_userpic_b_001.gif") no-repeat scroll -5px 0px; position: absolute; top: 0px; right: 0px; width: 5px; height: 5px; overflow: hidden; z-index: 100; }
.userpic-b-bl { background: rgba(0, 0, 0, 0) url("bg_userpic_b_001.gif") no-repeat scroll 0px -5px; position: absolute; bottom: 10px; left: 0px; width: 5px; height: 5px; overflow: hidden; z-index: 100; }
.userpic-b-br { background: rgba(0, 0, 0, 0) url("bg_userpic_b_001.gif") no-repeat scroll -5px -5px; position: absolute; bottom: 10px; right: 0px; width: 5px; height: 5px; overflow: hidden; z-index: 100; }
.user-info { padding: 5px 0px; }
.user-info li { line-height: 24px; padding: 0px 0px 0px 25px; }
.user-info li.user-id-male, .user-info li.user-id-female, .user-info li.user-certify, .user-info li.user-nocertify, .user-info li.user-kcr { background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px 0px; }
.user-info li.user-id-male { background-position: 0px -3px; }
.user-info li.user-id-female { background-position: 0px -513px; }
.user-info li.user-certify { background-position: 0px -32px; }
.user-info li.user-nocertify { background-position: 0px -452px; }
.user-info li.user-kcr { background-position: 0px -482px; }
.see-btn { padding: 0px 0px 5px; height: 31px; }
.user-info li div { float: left; }
.tips a { display: block; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -70px; padding: 0px; width: 16px; height: 16px; text-indent: -9999px; overflow: hidden; margin: 2px 0px 0px; }
.tips-cont { padding: 5px; width: 300px; line-height: 18px; }
.user-list { margin: 0px; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; padding: 10px 0px; }
.user-list dt { float: left; margin: 0px 10px 0px 0px; position: relative; }
.user-list dd { display: table; margin: 0px auto 0px 0px; line-height: 20px; width: 128px; }
.user-list dt span { background: rgba(0, 0, 0, 0) url("bg_user_circle.png") no-repeat scroll 0px 0px; position: absolute; top: 0px; left: 0px; width: 40px; height: 40px; display: block; cursor: pointer; }
.user-list dd h6 span.cancel a { float: right; margin: 0px 10px 0px 0px; display: inline; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 2px -98px; width: 16px; height: 16px; text-indent: -9999px; overflow: hidden; }
.user-list dd h6 span.cancel a:hover { background-position: 2px -128px; }
.user-list dd h6 span.new { float: right; display: block; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -158px; width: 22px; height: 16px; text-indent: -9999px; overflow: hidden; }
#shoplistcom ul { margin: 0px -10px 0px 0px; }
#shoplistcom li { float: left; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; width: 84px; height: 145px; overflow: hidden; padding: 10px 10px 0px 0px; margin: 0px; }
#shoplistcom li .photo, #myshoplist li .photo { display: block; padding: 1px; border: 1px solid rgb(217, 217, 217); width: 80px; height: 80px; overflow: hidden; }
#shoplistcom li .price, #myshoplist li .price { text-align: center; line-height: 22px; }
#myshoplist ul { margin: 0px; }
#myshoplist li { float: left; border-bottom: 1px solid rgb(206, 227, 242); width: 84px; height: 145px; overflow: hidden; padding: 10px 14px 0px 15px; margin: 0px; }
.btn-control { padding: 3px 0px; }
.btn-control a { display: block; margin: 0px auto; width: 128px; height: 31px; line-height: 28px; padding: 0px 0px 0px 50px; font-size: 14px; font-weight: bold; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("bg_btn_001.gif") no-repeat scroll 0px 0px; }
.btn-control a:hover { background-position: 0px -31px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-control a:active { background-position: 0px -62px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-wblog a { float: right; display: block; width: 120px; height: 31px; line-height: 28px; padding: 0px 0px 0px 40px; font-size: 14px; font-weight: bold; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("bg_btn_001.gif") no-repeat scroll -178px 0px; }
.btn-wblog a:hover { background-position: -178px -31px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-wblog a:active { background-position: -178px -62px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-blog a { float: right; margin: 0px 10px 0px 0px; display: inline; width: 100px; height: 31px; line-height: 28px; padding: 0px 0px 0px 60px; font-size: 14px; font-weight: bold; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("bg_btn_001.gif") no-repeat scroll -498px 0px; }
.btn-blog a:hover { background-position: -498px -31px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-blog a:active { background-position: -498px -62px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-bbs a { float: right; display: block; width: 95px; height: 31px; line-height: 28px; padding: 0px 0px 0px 65px; font-size: 14px; font-weight: bold; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("bg_btn_001.gif") no-repeat scroll -658px 0px; }
.btn-bbs a:hover { background-position: -658px -31px; text-decoration: none; color: rgb(34, 59, 77); }
.btn-bbs a:active { background-position: -658px -62px; text-decoration: none; color: rgb(34, 59, 77); }
.wblog-text { position: relative; }
.wblog-text textarea { border: 1px solid rgb(206, 227, 242); height: 64px; width: 678px; margin: 5px auto; font-family: Verdana,Arial,Helvetica,"微软雅黑","宋体","黑体",sans-serif; }
.wblog-text textarea.cue { text-align: center; line-height: 40px; color: rgb(184, 203, 217); font-size: 12px; background: rgb(255, 255, 255) url("bg_input.gif") repeat-x scroll 0px 0px; }
.wblog-text textarea.write { text-align: left; line-height: 20px; color: rgb(34, 59, 77); font-size: 13px; padding: 0px 3px; width: 672px; background: rgb(255, 255, 255) url("bg_input.gif") repeat-x scroll 0px 0px; }
.wblog-cue { position: absolute; top: 30px; left: 190px; line-height: 30px; padding: 0px 0px 0px 25px; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -180px; }
.wblog-cue2 { position: absolute; top: 10px; left: 200px; text-align: center; line-height: 30px; width: 250px; padding: 15px 0px 10px; background-color: rgb(255, 255, 255); font-size: 14px; z-index: 777; }
.my-box { float: left; margin: 0px 0px 0px 10px; line-height: 30px; }
.wblog-control { line-height: 30px; }
.wblog-control .face-item { float: left; }
.wblog-control .face-item .face-btn a { background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -331px; text-indent: 0px; overflow: visible; height: 30px; padding: 0px 0px 0px 20px; width: auto; color: rgb(36, 119, 179); }
.wblog-control .face-item .face-btn a:hover { background-position: 0px -331px; color: rgb(230, 57, 34); }
.wblog-control .dotted-line { float: left; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 3px -421px; width: 21px; height: 30px; }
.wblog-control .fileinputs { position: relative; float: left; width: 45px; height: 30px; display: block; overflow: hidden; cursor: pointer; }
.wblog-control .fileinputs input { position: relative; text-align: right; opacity: 0; z-index: 2; width: 45px; height: 55px; margin: -15px 0px 0px; cursor: pointer; display: block; }
.wblog-control .add-img { position: absolute; top: 0px; left: 0px; z-index: 1; padding: 0px 0px 0px 20px; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -361px; color: rgb(36, 119, 179); cursor: pointer; }
.upimg-loading { float: left; }
.upimg-success { float: left; position: relative; width: 70px; }
.upimg-success .upimg-name { float: left; width: 50px; overflow: hidden; }
.upimg-success .upimg-close a { display: block; float: right; width: 15px; height: 30px; text-indent: -9999px; overflow: hidden; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -90px; }
.upimg-success .upimg-close a:hover { background-position: 0px -120px; }
.upimg-success .upimg-cont { position: absolute; top: 25px; left: 0px; }
.upimg-success .upimg-cont .upimg-cont-arrow { width: 11px; height: 6px; margin: 0px 0px 0px 15px; font-size: 0px; background: rgba(0, 0, 0, 0) url("upimg_arrow_001.gif") no-repeat scroll 0px 0px; }
.upimg-success .upimg-cont img { padding: 1px; border: 2px solid rgb(206, 227, 242); display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.wblog-control .add-topic a { display: block; padding: 0px 0px 0px 20px; float: left; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -391px; }
.wblog-control .words { float: left; margin: -7px 0px 0px; }
.wblog-control .words span { font-size: 30px; font-style: italic; font-family: Constantia,Georgia; }
.line-y { background: rgba(0, 0, 0, 0) url("line_h_y_001.gif") no-repeat scroll 0px center; font-size: 0px; height: 11px; }
#browsed, #guess { float: left; width: 345px; }
#browsed ul, #guess ul { padding: 5px 0px; height: 240px; }
#browsed li, #guess li { line-height: 24px; font-size: 14px; padding: 0px 0px 0px 25px; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -4px; }
#guess { float: right; }
#guess .title { padding: 0px 0px 0px 25px; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -242px; }
#guess .new { float: left; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -156px; width: 22px; height: 16px; text-indent: -9999px; overflow: hidden; margin: 0px 0px 0px 5px; display: inline; }
.gb-lb-c.info-box { height: 105px; }
.info-ul li { float: left; width: 225px; height: 23px; line-height: 23px; }
.info-ul li.user-id-male, .info-ul li.user-id-female, .info-ul li.user-certify, .info-ul li.user-nocertify, .info-ul li.user-kcr { background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px 0px; }
.info-ul li.user-id-male { background-position: 0px -3px; padding: 0px 0px 0px 20px; width: 230px; }
.info-ul li.user-id-female { background-position: 0px -513px; padding: 0px 0px 0px 20px; width: 230px; }
.info-ul li.user-certify { background-position: 0px -32px; padding: 0px 0px 0px 20px; width: 230px; }
.info-ul li.user-nocertify { background-position: 0px -452px; padding: 0px 0px 0px 20px; width: 230px; }
.info-ul li.user-kcr { background-position: 0px -482px; padding: 0px 0px 0px 20px; width: 155px; }
.info-ul li.user-influence, .info-ul li.user-long { width: 250px; }
.info-ul li.user-short { width: 175px; }
.info-ul li.user-certify div, .info-ul li.user-nocertify div, .info-ul li.user-kcr div, .info-ul li.user-influence div { float: left; }
.gb-lb-new { height: 27px; background: rgba(0, 0, 0, 0) url("gb_t_new_001.png") no-repeat scroll 0px 0px; line-height: 27px; padding: 0px 8px 0px 15px; font-size: 14px; font-weight: bold; }
.gb-lb-new span { float: right; font-size: 12px; font-weight: normal; }
.gb-lb-c.user-con { padding: 0px; }
.user-con-nav li { line-height: 35px; height: 35px; border-bottom: 1px dashed rgb(206, 227, 242); padding: 0px 8px 0px 15px; }
.user-con-nav li .nav-title { float: left; }
.user-con-nav li b { font-size: 14px; font-weight: normal; }
.user-con-nav li .c-main { float: right; }
.user-con-nav li.current { background: rgba(0, 0, 0, 0) url("user_con_nav_001.png") no-repeat scroll 0px 0px; position: relative; }
.user-con-nav li.current .arrow { background: rgba(0, 0, 0, 0) url("user_con_nav_001.png") no-repeat scroll right 0px; height: 35px; width: 7px; top: 0px; right: -7px; position: absolute; }
.user-con-nav li.current .nav-title { font-weight: bold; margin: 0px 6px 0px 0px; }
.user-con-nav li.current b { font-weight: bold; }
.user-con-nav li.current .nav-title a:link, .user-con-nav li.current .nav-title a:visited { text-decoration: none; color: rgb(36, 119, 179); }
.user-con-nav li.current .nav-title a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.user-con-other { padding: 20px 15px; line-height: 22px; }
.app-cont { padding: 15px 70px; }
.app-list table { width: 100%; border-collapse: collapse; margin: 0px; }
.app-list th, .app-list td { border: 1px solid rgb(206, 227, 244); }
.app-list th { text-align: center; background: rgb(223, 236, 247) none repeat scroll 0% 0%; height: 25px; line-height: 25px; font-weight: bold; }
.app-list td { height: 26px; background: rgb(242, 247, 251) none repeat scroll 0% 0%; padding: 0px 5px; font-size: 13px; }
.app-list td.input-cont { text-align: center; }
.app-list td input, .app-list td label { cursor: pointer; }
.re-default { padding: 10px 0px 0px; text-align: right; }
.myfollowact-box { padding: 10px 0px; border-bottom: 1px solid rgb(206, 227, 242); }
.myfollowact-box.noline { border: medium none; }
.followuser-pic { float: left; position: relative; margin: 0px 10px 0px 0px; width: 40px; display: inline; text-align: center; color: rgb(230, 57, 34); line-height: 20px; }
.followuser-pic span { background: rgba(0, 0, 0, 0) url("bg_user_circle.png") no-repeat scroll 0px 0px; position: absolute; top: 0px; left: 0px; width: 40px; height: 40px; display: block; cursor: pointer; }
.followuser-pic div a { display: block; width: 38px; height: 14px; line-height: 14px; text-align: center; overflow: hidden; margin: 0px 1px; background: rgba(0, 0, 0, 0) url("btn_follow.gif") no-repeat scroll 0px 0px; text-indent: -9999px; }
.followuser-pic div a:hover { background-position: 0px -14px; }
.followuser-pic .alreadyfollow { width: 38px; height: 14px; overflow: hidden; margin: 0px 1px; background: rgba(0, 0, 0, 0) url("btn_follow.gif") no-repeat scroll 0px -28px; text-indent: -9999px; }
.followuser-act { float: left; padding: 0px 0px 0px 10px; border-left: 1px solid rgb(206, 227, 242); width: 610px; min-height: 80px; }
.act-cont { padding: 0px 0px 10px; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; }
.act-cont.noline { padding: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.act-cont .w-title { line-height: 22px; padding: 4px 0px 4px 25px; font-size: 14px; }
.act-cont .w-title a:link, .act-cont .w-title a:visited { color: rgb(36, 119, 179); }
.act-cont .w-title a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
.act-cont .w-title .time { float: right; font-size: 12px; color: rgb(125, 156, 179); }
.act-cont .describe, .act-cont .describe-wblog { line-height: 18px; padding: 0px 0px 0px 25px; color: rgb(125, 156, 179); }
.act-cont .describe-wblog a:link, .act-cont .describe-wblog a:visited { color: rgb(36, 119, 179); }
.act-cont .describe-wblog a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
.act-cont .describe2, .act-cont .describe-wblog2 { line-height: 18px; padding: 0px 0px 0px 25px; color: rgb(125, 156, 179); }
.act-cont .describe2 img, .act-cont .describe-wblog2 img { float: left; cursor: pointer; display: block; padding: 1px; border: 1px solid rgb(217, 217, 217); overflow: hidden; margin: 5px 10px 0px 0px; }
.act-cont .bbs { background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px 0px; }
.act-cont .blog { background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -30px; }
.act-cont .wblog { background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -60px; }
.act-cont .shop { background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -210px; }
#tnav { background: rgba(0, 0, 0, 0) url("bg_fnav_001.gif") no-repeat scroll 0px 0px; height: 26px; overflow: hidden; }
#tnav li { float: left; width: 350px; }
#tnav li a { display: block; height: 26px; line-height: 26px; text-align: center; width: 350px; font-size: 13px; font-weight: bold; cursor: pointer; background: rgba(0, 0, 0, 0) url("bg_fnav_001.gif") no-repeat scroll 0px 100px; color: rgb(36, 119, 179); }
#tnav li.my-album a:hover { background-position: 0px -26px; text-decoration: none; }
#tnav li.my-club a:hover { background-position: -350px -26px; text-decoration: none; }
#tnav li#ton.my-album a, #tnav li#ton.my-album a:hover { background-position: 0px -52px; cursor: default; text-decoration: none; }
#tnav li#ton.my-club a, #tnav li#ton.my-club a:hover { background-position: -350px -52px; cursor: default; text-decoration: none; }
#vnav { background: rgba(0, 0, 0, 0) url("bg_fnav_001.gif") no-repeat scroll 0px 0px; height: 26px; overflow: hidden; }
#vnav li { float: left; width: 350px; }
#vnav li a { display: block; height: 26px; line-height: 26px; text-align: center; width: 350px; font-size: 13px; font-weight: bold; cursor: pointer; background: rgba(0, 0, 0, 0) url("bg_fnav_001.gif") no-repeat scroll 0px 100px; color: rgb(36, 119, 179); }
#vnav li.who-visit a:hover { background-position: 0px -26px; text-decoration: none; }
#vnav li.my-visit a:hover { background-position: -350px -26px; text-decoration: none; }
#vnav li#ton.who-visit a, #vnav li#ton.who-visit a:hover { background-position: 0px -52px; cursor: default; text-decoration: none; }
#vnav li#ton.my-visit a, #vnav li#ton.my-visit a:hover { background-position: -350px -52px; cursor: default; text-decoration: none; }
.my-wbloglist { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; line-height: 31px; }
.my-wbloglist .wbloglist-title { float: left; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -58px; padding: 0px 0px 0px 25px; font-size: 14px; }
.my-wbloglist .time { float: right; }
.my-wbloglist a:link, .my-wbloglist a:visited { text-decoration: none; color: rgb(36, 119, 179); }
.my-wbloglist a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.title-list { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; line-height: 36px; padding: 0px 10px 1px 0px; }
.title-list .icon { float: left; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px 2px; padding: 0px 0px 0px 25px; height: 36px; font-size: 0px; }
.title-list .show a { float: left; display: block; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll -2px -116px; width: 20px; overflow: hidden; text-indent: -9999px; height: 36px; }
.title-list .hide a { float: left; display: block; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll -2px -146px; width: 20px; overflow: hidden; text-indent: -9999px; height: 36px; }
.title-list .title-cont { float: left; font-size: 14px; }
.title-list .title-num { float: left; margin: 0px 0px 0px 5px; display: inline; }
.title-list .title-num a { padding: 0px 0px 0px 15px; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -98px; }
.title-list .author { float: right; margin: 0px 0px 0px 10px; display: inline; }
.title-list .stat { float: right; margin: 0px 0px 0px 10px; display: inline; }
.title-list .time { float: right; margin: 0px 0px 0px 10px; display: inline; }
.title-cont a:link, .title-cont a:visited { color: rgb(36, 119, 179); }
.title-cont a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.replylist-box { clear: both; }
.reply-list li { line-height: 24px; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -92px; margin: 0px 0px 0px 40px; padding: 0px 0px 0px 20px; color: rgb(125, 156, 179); }
.replylist-pages { line-height: 20px; background: rgba(0, 0, 0, 0) url("icon_club.gif") no-repeat scroll 0px -179px; margin: 0px 0px 0px 40px; padding: 5px 0px 10px 20px; height: 20px; color: rgb(125, 156, 179); }
.replylist-pages a:link, .replylist-pages a:visited { color: rgb(36, 119, 179); }
.replylist-pages a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
#Active_cont_1 .filter { padding: 10px 10px 0px 0px; line-height: 22px; }
.filter .current { font-weight: bold; color: rgb(230, 57, 34); cursor: default; text-decoration: none; }
.filter a.current:link, .filter a.current:visited, .filter a.current:hover { text-decoration: none; color: rgb(230, 57, 34); }
#Active_cont_2 .last { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(206, 227, 242); }
.visit-cont-box { min-height: 60px; }
.visit-cont-box .visiter-list { float: left; display: block; width: 166px; padding: 10px 0px 0px; }
.visit-cont-box .visiter-list .visiter-pic { float: left; margin: 0px 10px 0px 0px; display: inline; position: relative; }
.visit-cont-box .visiter-list .visiter-info { float: left; margin: 0px; line-height: 20px; width: 116px; }
.visit-cont-box .visiter-list .visiter-pic span { background: rgba(0, 0, 0, 0) url("bg_user_circle.png") no-repeat scroll 0px 0px; position: absolute; top: 0px; left: 0px; width: 40px; height: 40px; display: block; cursor: pointer; }
#ControlNav { margin: 0px; padding: 0px; width: 700px; height: 26px; background: rgba(0, 0, 0, 0) url("bg_cnav.gif") no-repeat scroll 0px 0px; }
#ControlNav li { display: inline; }
#ControlNav li a { float: left; line-height: 26px; height: 26px; width: 100px; text-align: center; overflow: hidden; background-image: url("bg_cnav.gif"); background-repeat: no-repeat; color: rgb(36, 119, 179); text-decoration: none; font-size: 13px; font-weight: bold; }
#ControlNav li#cn-base a { background-position: 0px 0px; }
#ControlNav li#cn-password a { background-position: -100px 0px; }
#ControlNav li#cn-mobile a { background-position: -200px 0px; }
#ControlNav li#cn-follow a { background-position: -300px 0px; }
#ControlNav li#cn-SMS a { background-position: -400px 0px; }
#ControlNav li#cn-collect a { background-position: -500px 0px; }
#ControlNav li#cn-shop a { background-position: -600px 0px; }
#ControlNav li#cn-base a:hover { background-position: 0px -26px; }
#ControlNav li#cn-password a:hover { background-position: -100px -26px; }
#ControlNav li#cn-mobile a:hover { background-position: -200px -26px; }
#ControlNav li#cn-follow a:hover { background-position: -300px -26px; }
#ControlNav li#cn-SMS a:hover { background-position: -400px -26px; }
#ControlNav li#cn-collect a:hover { background-position: -500px -26px; }
#ControlNav li#cn-shop a:hover { background-position: -600px -26px; }
#cBase #ControlNav li#cn-base a { background-position: 0px -52px; cursor: default; }
#cPassword #ControlNav li#cn-password a { background-position: -100px -52px; cursor: default; }
#cMobile #ControlNav li#cn-mobile a { background-position: -200px -52px; cursor: default; }
#cFollow #ControlNav li#cn-follow a { background-position: -300px -52px; cursor: default; }
#cSMS #ControlNav li#cn-SMS a { background-position: -400px -52px; cursor: default; }
#cCollect #ControlNav li#cn-collect a { background-position: -500px -52px; cursor: default; }
#cShop #ControlNav li#cn-shop a { background-position: -600px -52px; cursor: default; }
#ControlNav li#cn-SMS a span { font-size: 12px; color: rgb(230, 57, 34); }
.control-cont { padding: 10px 0px 5px; }
.control-cont .sub-cnav { float: left; width: 80px; padding: 15px 5px 0px 15px; }
.control-cont .sub-cnav li { line-height: 30px; height: 30px; }
.control-cont .sub-cnav li a.current { background: rgba(0, 0, 0, 0) url("icon_user_control_001.gif") no-repeat scroll right -1px; font-weight: bold; color: rgb(34, 59, 77); text-decoration: none; cursor: default; display: block; }
.control-cont .sub-cnav li#cWrite span { width: 80px; display: block; padding: 10px 0px 0px; margin: 10px 0px 0px; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px 0px; }
.control-cont .sub-cnav li#cWrite span b { padding: 0px 0px 0px 20px; background: rgba(0, 0, 0, 0) url("icon_user_control_001.gif") no-repeat scroll 0px -36px; }
.control-cont .sub-cnav li#cWrite.subcnav-on { background-position: right 9px; }
.cforminput { line-height: 21px; padding: 12px 30px; }
.cforminput .cformlabel { float: left; width: 90px; }
.cforminput .cformfieldtext { float: left; padding: 0px 5px 0px 0px; }
.cformfieldinfo { margin: 0px 0px 30px 140px; line-height: 18px; }
.cforminput .cformfieldtext img, .cformfieldinfo img { display: block; padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(217, 217, 217); }
.btn-upload a { display: block; width: 60px; height: 19px; line-height: 19px; text-align: center; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("btn_control_001.gif") no-repeat scroll 0px 0px; margin: 0px; text-decoration: none; }
.btn-upload a:hover { background-position: 0px -19px; }
.btn-upload a:active { background-position: 0px -38px; }
.btn-controlpanel { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px 0px; padding: 20px 0px; margin: 10px 0px; height: 28px; }
.btn-controlpanel a { display: block; height: 31px; line-height: 28px; width: 80px; font-size: 14px; font-weight: bold; text-align: center; color: rgb(34, 59, 77); background: rgba(0, 0, 0, 0) url("btn_item_yes.gif") no-repeat scroll 0px 0px; margin: 0px auto; }
.btn-controlpanel a:hover { text-decoration: none; background-position: 0px -31px; color: rgb(34, 59, 77); }
.btn-controlpanel a:active { text-decoration: none; background-position: 0px -62px; color: rgb(34, 59, 77); }
.btn-controlpanel-s2 a { cursor: default; }
.btn-box { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px 0px; padding: 20px 0px 20px 250px; margin: 10px 0px; height: 28px; }
.btn-box .btn-controlpanel { float: left; width: 80px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px; margin: 0px 20px 0px 0px; display: inline; }
.character-list { padding: 5px 0px 0px; }
.character-list li { float: left; height: 25px; padding: 5px 0px; line-height: 25px; margin: 0px 17px; display: inline; }
.cuserpic .cuserpic-current, .cuserpic .cuserpic-up { float: left; width: 40%; padding: 0px 0px 20px; }
.cuserpic .cuserpic-up { width: 60%; }
.cuserpic .cuserpic-current h6, .cuserpic .cuserpic-up h6 { padding: 20px 0px 30px; font-weight: bold; }
.cuserpic .cuserpic-current img { display: block; padding: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(217, 217, 217); }
.cuserpic .cuserpic-up div { padding: 5px 0px; line-height: 18px; }
.cpassword-box, .cmobile-box { width: 500px; margin: 20px auto; }
.cmobile-title { width: 500px; margin: 20px auto; line-height: 20px; }
.cmobile-title2 { width: 600px; margin: 20px auto; padding: 10px 0px 15px; line-height: 20px; font-weight: bold; border-bottom: 1px dashed rgb(153, 191, 221); }
.cmobile-box .btn-sina { float: none; margin: 0px auto; width: 97px; }
.follow-all { margin: 0px; }
.follow-all li { float: left; width: 165px; overflow: hidden; }
.follow-all li .user-list { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.control-cont .follow { width: 540px; padding: 6px 0px 6px 17px; }
.follow-all li .user-list dd { width: 110px; }
.csms-box { padding: 0px 0px 10px; margin: 0px 0px 10px; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px bottom; }
.csms-box .csms-title { line-height: 22px; height: 22px; padding: 0px 0px 5px; }
.csms-titlel { float: left; }
.csms-titler { float: right; }
.csms-cont h2 { padding: 0px 0px 5px; font-weight: bold; }
.csms-cont p { line-height: 18px; }
.ccollect-title { margin: 10px 0px 0px; border-bottom: 1px solid rgb(206, 227, 242); border-top: 1px solid rgb(206, 227, 242); height: 22px; line-height: 22px; background: rgb(230, 245, 255) none repeat scroll 0% 0%; }
.ccollect-title li { float: left; }
.ccollect-title li.ctitle, .ccollect-list li.ctitle { width: 375px; padding: 0px 0px 0px 10px; }
.ccollect-title li.ctime, .ccollect-list li.ctime { width: 160px; text-align: center; }
.ccollect-title li.ccontrol, .ccollect-list li.ccontrol { width: 100px; text-align: right; padding: 0px 10px 0px 0px; }
.ccollect-list li { float: left; line-height: 34px; }
.ccollect-list li.ctitle { line-height: 18px; padding: 8px 0px; }
.ccollect-title.recycle li.ctitle, .ccollect-list.recycle li.ctitle { width: 500px; }
#SeeFollow .follow-all { margin: 0px; }
#SeeFollow .follow-all li { float: left; width: 170px; overflow: hidden; }
#SeeFollow .follow-all li .user-list { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
#SeeFollow .control-cont .follow { width: 540px; padding: 6px 0px 6px 17px; }
#SeeFollow .follow-all li .user-list dd { width: 110px; }
.c-pages { border-top: 1px solid rgb(230, 245, 255); padding: 10px 0px; margin: 10px 0px 0px; text-align: right; }
#Active_cont_2 .userpages { padding: 10px 10px 5px; }
#Visit_cont_1 .userpages { padding: 10px 10px 5px; margin: 10px 0px 0px; background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px top; }
#SMSDiv { display: none; }
.apple_overlay { display: none; box-shadow: 0px 0px 50px rgb(0, 0, 0); }
.apple_overlay div.close { background-image: url("close.png"); position: absolute; right: -12px; top: -12px; cursor: pointer; height: 30px; width: 30px; }
.current-position { height: 32px; line-height: 32px; background: rgba(0, 0, 0, 0) url("bg_wz.gif") repeat-x scroll -32px center; margin: 0px 0px 10px; }
.current-position .cp-l { float: left; width: 10px; height: 32px; background: rgba(0, 0, 0, 0) url("bg_wz.gif") no-repeat scroll 0px 0px; overflow: hidden; }
.current-position .cp-r { float: right; width: 10px; height: 32px; background: rgba(0, 0, 0, 0) url("bg_wz.gif") no-repeat scroll -10px 0px; overflow: hidden; }
.current-position .arrow { float: left; width: 15px; height: 32px; margin: 0px 10px; display: inline; background: rgba(0, 0, 0, 0) url("bg_wz.gif") no-repeat scroll 0px -64px; overflow: hidden; }
.current-position .text { float: left; font-size: 13px; }
.current-position .text a { text-decoration: none; }
#cSMS .control-cont { padding: 10px 0px 5px 20px; }
.sms-table { padding: 10px 0px 0px; }
.sms-table table { width: 100%; border-collapse: collapse; margin: 0px; }
.sms-table th { text-align: center; border-bottom: 1px solid rgb(206, 227, 242); border-top: 1px solid rgb(206, 227, 242); background: rgb(230, 245, 255) none repeat scroll 0% 0%; height: 25px; line-height: 25px; }
.sms-table td { height: 26px; border-bottom: 1px solid rgb(226, 239, 248); padding: 0px 5px; text-align: center; }
.sms-table td.ta-l { text-align: left; }
.sms-all { padding: 10px 0px 5px 14px; }
.sms-table2 { padding: 20px 0px; font-weight: normal; word-break: break-all; }
.sms-table2 table { width: 100%; border-collapse: collapse; margin: 0px; }
.sms-table2 th { text-align: center; border-bottom: 1px solid rgb(206, 227, 242); border-top: 1px solid rgb(206, 227, 242); background: rgb(230, 245, 255) none repeat scroll 0% 0%; height: 25px; line-height: 25px; }
.sms-table2 td { line-height: 18px; border-bottom: 1px solid rgb(226, 239, 248); padding: 5px; }
.sms-table2 td.sms-control2 { height: 40px; text-align: center; }
.sms-table2 td.sms-title2 { background: rgb(237, 248, 255) none repeat scroll 0% 0%; }
.sms-table2 b { font-weight: bold; }
.sms-chat { padding: 15px 0px 10px; text-align: right; }
.sms-table2 hr { border-width: medium medium 1px; border-style: none none dashed; border-color: currentcolor currentcolor rgb(206, 227, 242); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 0px; overflow: hidden; }
#cShop .control-cont { padding: 10px 0px 10px 20px; }
.control-add { line-height: 20px; margin: 10px 0px; }
.control-add .clearfix { background: rgb(230, 245, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(206, 227, 244); border-top: 1px solid rgb(206, 227, 244); padding: 5px 10px; }
.control-add .addr-title { float: left; }
.control-add .addr-choose { float: right; }
.control-add .addr-cont { padding: 5px 10px; }
.addr-cont table { margin: 10px 0px; }
.addr-cont td { height: 34px; padding: 0px 0.5em; }
.addr-cont .talign-r { text-align: right; }
.control-order .order-title { padding: 15px 10px 0px; margin: 0px 0px 10px; }
.control-order .order-title2 { background: rgb(230, 245, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(206, 227, 244); border-top: 1px solid rgb(206, 227, 244); padding: 5px 10px; }
.control-order .order-cont { padding: 10px 10px 15px; line-height: 22px; }
.control-order table { width: 100%; border-collapse: collapse; margin: 0px; }
.control-order th { text-align: center; border-bottom: 1px solid rgb(206, 227, 242); border-top: 1px solid rgb(206, 227, 242); background: rgb(230, 245, 255) none repeat scroll 0% 0%; height: 25px; line-height: 25px; }
.control-order td { height: 26px; border-bottom: 1px solid rgb(226, 239, 248); padding: 0px 5px; text-align: center; }
.control-order .c-pages { border: medium none; }
.control-order .subtotal { text-align: right; margin: 10px 0px 0px; }
.n_gb_t, .n_gb_c, .n_gb_b { background: rgba(0, 0, 0, 0) url("n_gb_001.png") no-repeat scroll 0px 0px; }
.n_gb_t { height: 15px; width: 910px; background-position: 0px 0px; }
.n_gb_b { height: 15px; width: 910px; background-position: 0px -15px; }
.n_gb_c { width: 910px; background-position: -910px 0px; background-repeat: repeat-y; }
.n_gb_c .lf { width: 210px; }
.n_gb_c .rf { width: 671px; padding: 0px 15px 0px 14px; }
.userinfo { margin: 0px 15px; padding: 0px 0px 10px; height: 70px; }
.userinfo .userpic { float: left; width: 70px; height: 70px; position: relative; z-index: 9; }
.userinfo .userpic span { display: block; position: absolute; z-index: 10; width: 70px; height: 70px; background: rgba(0, 0, 0, 0) url("n_userpic_mask_70_70_001.png") no-repeat scroll 0px 0px; cursor: pointer; }
.userinfo .userpic .modify-userpic { position: absolute; z-index: 20; bottom: 0px; height: 17px; width: 70px; background: rgba(0, 0, 0, 0) url("n_modify_userpic_001.png") no-repeat scroll 0px 0px; }
.userinfo .userpic .modify-userpic a { display: block; position: absolute; z-index: 22; bottom: 0px; height: 17px; line-height: 17px; width: 70px; text-align: center; color: rgb(255, 255, 255); }
.userinfo .useridinfo { float: right; width: 94px; }
.userinfo .useridinfo .userid { font-size: 14px; line-height: 22px; }
.userinfo .useridinfo .user-influence { line-height: 20px; height: 20px; }
.userinfo .useridinfo .user-influence div { float: left; margin: 0px 3px 0px 0px; display: inline; }
.userinfo .useridinfo .progress-bar { border: 1px solid rgb(176, 212, 237); height: 8px; width: 90px; background: rgb(236, 249, 255) url("progress_bar_bg_001.gif") repeat-x scroll 0px 0px; font-size: 0px; overflow: hidden; }
.userinfo .useridinfo .progress-bar .percentage { background: rgba(0, 0, 0, 0) url("progress_bar_bg_001.gif") repeat-x scroll 0px -8px; border-right: 1px solid rgb(176, 212, 237); height: 8px; font-size: 0px; }
.userinfo .useridinfo .c-main { text-align: right; line-height: 22px; }
.detailed { height: 25px; line-height: 25px; border-bottom: 1px dashed rgb(225, 239, 250); margin: 0px 15px; }
.detailed .detailed-info { float: left; }
.detailed .tips { float: left; }
.detailed .operating { float: right; }
.detailed .detailed-info.nocertify, .detailed .detailed-info.certify, .detailed .detailed-info.kcr { padding: 0px 0px 0px 20px; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px 0px; }
.detailed .detailed-info.nocertify { background-position: 0px -452px; }
.detailed .detailed-info.certify { background-position: 0px -32px; }
.detailed .detailed-info.kcr { background-position: 0px -482px; }
.detailed-more-cont { display: none; width: 209px; background: rgba(0, 0, 0, 0) url("n_gb_001.png") repeat-y scroll -910px 0px; }
.more-show a, .more-hide a { background: rgba(0, 0, 0, 0) url("n_arrow_001.png") no-repeat scroll 0px 0px; }
.more-show a, .more-hide a { display: block; width: 70px; height: 25px; margin: 0px auto; line-height: 25px; }
.more-show a { background-position: right 0px; }
.more-hide a { background-position: right -25px; }
.more-show a:hover { background-position: right -50px; }
.more-hide a:hover { background-position: right -75px; }
.user-nav { border-top: 1px solid rgb(137, 185, 218); border-bottom: 1px solid rgb(137, 185, 218); padding: 15px 0px 15px 5px; margin: 0px 1px 0px 0px; background: rgba(0, 0, 0, 0) url("n_user_nav_bg_001.png") repeat-y scroll 0px 0px; overflow: hidden; }
.user-nav li { float: left; height: 35px; line-height: 35px; padding: 0px; position: relative; width: 204px; margin: -1px 0px 0px; background: rgba(0, 0, 0, 0) url("n_user_nav_tabs.png") no-repeat scroll 0px 0px; overflow: hidden; }
.user-nav li.last { background-position: 0px 100px; }
.index .user-nav li.n1, .index .user-nav li.n1.mouseover, .fposts .user-nav li.n2, .fposts .user-nav li.n2.mouseover, .reme .user-nav li.n3, .reme .user-nav li.n3.mouseover, .reply .user-nav li.n4, .reply .user-nav li.n4.mouseover, .collection .user-nav li.n5, .collection .user-nav li.n5.mouseover, .sms .user-nav li.n6, .sms .user-nav li.n6.mouseover, .topic .user-nav li.n7, .topic .user-nav li.n7.mouseover, .blog .user-nav li.n8, .blog .user-nav li.n8.mouseover, .urlnav .user-nav li.n14, .urlnav .user-nav li.n14.mouseover, .t .user-nav li.n9, .t .user-nav li.n9.mouseover, .recycle .user-nav li.n10, .recycle .user-nav li.n10.mouseover { background-position: 0px -70px; }
.record .user-nav li.n12, .record .user-nav li.n12.mouseover { background-position: 0px -70px; }
.user-nav li.mouseover { background-position: 0px -35px; }
.user-nav li .title { float: left; font-size: 14px; margin: 0px 5px 0px 0px; display: inline; cursor: pointer; }
.user-nav li .title a { color: rgb(36, 119, 179); text-decoration: none; padding: 0px 0px 0px 31px; }
.user-nav li .total { float: left; }
.user-nav li .new-added, .sc h3 .new-added { float: left; margin: 5px 0px 0px; height: 13px; font-size: 11px; font-weight: normal; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0) url("n_new_added_001.png") no-repeat scroll 0px 0px; line-height: 13px; padding: 0px 2px 2px 3px; }
.user-nav li .new-added span, .sc h3 .new-added span { display: block; float: right; background: rgba(0, 0, 0, 0) url("n_new_added_001.png") no-repeat scroll right -15px; padding: 0px 3px 0px 0px; color: rgb(255, 255, 255); }
.sc h3 .new-added { position: absolute; z-index: 1000; left: 100px; }
.user-nav li .operating { float: right; padding: 0px 15px 0px 0px; }
.user-nav li .title.index, .user-nav li .title.topic, .user-nav li .title.fposts, .user-nav li .title.blog, .user-nav li .title.t, .user-nav li .title.sms, .user-nav li .title.collection, .user-nav li .title.reme, .user-nav li .title.reply, .user-nav li .title.recycle, .user-nav li .title.record { background: rgba(0, 0, 0, 0) url("n_user_nav_icon_001.png") no-repeat scroll 0px 0px; }
.user-nav li .title.index { background-position: 0px 0px; }
.user-nav li .title.topic { background-position: 0px -34px; }
.user-nav li .title.fposts { background-position: 0px -68px; }
.user-nav li .title.blog { background-position: 0px -102px; }
.user-nav li .title.t { background-position: 0px -136px; }
.user-nav li .title.sms { background-position: 0px -170px; }
.user-nav li .title.collection { background-position: 0px -204px; }
.user-nav li .title.reme { background-position: 0px -238px; }
.user-nav li .title.reply { background-position: 0px -272px; }
.user-nav li .title.recycle { background-position: 0px -340px; }
.user-nav li .title.record { background-position: 0px -374px; }
.sc { background: rgba(0, 0, 0, 0) url("n_sc_line_001.png") no-repeat scroll 0px bottom; padding: 0px 0px 2px; overflow: hidden; position: relative; left: 0px; top: 0px; }
.sc.last { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.sc h3 { line-height: 25px; height: 25px; padding: 9px 0px 8px 15px; font-size: 14px; font-weight: bold; }
.sc h3 .new-added { margin: 0px 0px 0px 5px; }
.sc h3 .btn { display: block; position: absolute; top: 8px; right: 12px; width: 190px; height: 25px; background: rgba(0, 0, 0, 0) url("n_arrow_001.png") no-repeat scroll right -125px; z-index: 999; }
.sc h3 .btn:hover { background-position: right -175px; }
.sc.fold h3 .btn { background-position: right -100px; }
.sc.fold h3 .btn:hover { background-position: right -150px; }
.sc h3 .btn.loading { background: rgba(0, 0, 0, 0) url("n_sc_loading_001.gif") no-repeat scroll right center; }
.sc .more { text-align: right; padding: 0px 17px 8px 0px; line-height: 21px; }
.imgList { margin: 0px 8px; }
.imgList li { width: 50px; float: left; text-align: center; margin: 0px 7px 5px; display: inline; overflow: hidden; }
.imgList li .user-pic, .userFollow .userPic { position: relative; left: 0px; top: 0px; width: 50px; height: 50px; display: block; padding: 0px 0px 2px; overflow: hidden; }
.imgList li .user-pic span, .userFollow .userPic span { position: absolute; width: 50px; height: 50px; display: block; background: rgba(0, 0, 0, 0) url("n_user_circle_001.png") no-repeat scroll 0px 0px; top: 0px; left: 0px; cursor: pointer; }
.imgList li .user-id { line-height: 22px; height: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 50px; }
.imgList li .addAttention, .imgList li .disabled, .myfollowact-box .addAttention, .myfollowact-box .disabled { height: 14px; background: rgba(0, 0, 0, 0) url("n_attention_001.png") no-repeat scroll 0px 0px; width: 38px; display: block; text-indent: -9999px; overflow: hidden; margin: 0px auto 5px; }
.imgList li .addAttention:hover, .myfollowact-box .addAttention:hover { background-position: 0px -14px; }
.imgList li .disabled, .myfollowact-box .disabled { background-position: 0px -28px; cursor: default; }
.followuser-pic .addAttention, .followuser-pic .disabled { margin-top: 5px; }
.statistics-info { float: left; line-height: 25px; padding: 0px 0px 0px 20px; margin-bottom: 10px; background: rgba(0, 0, 0, 0) url("icon_user.gif") no-repeat scroll 0px -213px; }
.btn-sina { float: right; }
.btn-sina a, .btn-sina a:hover, .btn-sina a:active { text-decoration: none; color: rgb(34, 59, 77); }
.btn-sina a { width: 97px; }
.btn-sina a:hover { background-position: 0px -25px; }
.btn-sina a:active { background-position: 0px -50px; }
.sites-rec-box { padding: 10px 0px 5px; }
.sites-rec-box .sites-rec { border: 1px solid rgb(244, 228, 174); padding: 8px 20px; line-height: 22px; position: relative; background: rgb(255, 245, 213) none repeat scroll 0% 0%; }
.sites-rec-box .sites-rec a:link, .sites-rec-box .sites-rec a:visited { color: rgb(238, 171, 0); text-decoration: none; }
.sites-rec-box .sites-rec a:hover { color: rgb(230, 57, 34); text-decoration: underline; }
.sites-rec-box .sites-rec .rec-close a { display: block; position: absolute; top: 6px; right: 8px; width: 14px; height: 14px; overflow: hidden; background: rgba(0, 0, 0, 0) url("btn_close.png") no-repeat scroll 0px 0px; text-indent: -9999px; }
.sites-rec-box .sites-rec .rec-close a:hover { background-position: 0px -14px; }
.tabs { background: rgba(0, 0, 0, 0) url("n_tabs_bg_001.png") no-repeat scroll 0px bottom; height: 27px; overflow: hidden; }
.tabs li { display: inline; }
.tabs li a { float: left; display: block; height: 27px; padding: 0px 0px 0px 10px; background: rgba(0, 0, 0, 0) url("n_tabs_001.png") no-repeat scroll 0px 0px; margin: 0px 5px 0px 0px; }
.tabs li a span { float: left; display: block; height: 27px; line-height: 26px; font-size: 13px; background: rgba(0, 0, 0, 0) url("n_tabs_001.png") no-repeat scroll right -81px; color: rgb(36, 119, 179); padding: 0px 20px 0px 10px; text-decoration: none; cursor: pointer; }
.tabs li a:hover { text-decoration: none; background-position: 0px -27px; }
.tabs li a:hover span { background-position: right -108px; }
.tabs li a.current, .tabs li a.current:hover { background-position: 0px -54px; }
.tabs li a.current span, .tabs li a.current:hover span { background-position: right -135px; font-weight: bold; cursor: default; }
.tabs li a.only, .tabs li a.only:hover { background-position: 0px -500px; }
.tabs li a.only span, .tabs li a.only:hover span { background-position: right -500px; font-weight: bold; cursor: default; }
.only-title { background: rgba(0, 0, 0, 0) url("n_tabs_bg_001.png") no-repeat scroll 0px bottom; height: 27px; overflow: hidden; font-weight: bold; font-size: 13px; }
.only-title.nobg { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.expand, .expand:link, .expand:visited { display: block; width: 55px; padding: 0px 20px 0px 0px; font-size: 13px; margin: 10px auto 0px; line-height: 24px; background: rgba(0, 0, 0, 0) url("n_arrow_001.png") no-repeat scroll right -126px; color: rgb(36, 119, 179); }
.expand:hover { background-position: right -200px; color: rgb(230, 57, 34); }
.expand.loading, .expand.loading:link, .expand.loading:visited, .expand.loading:hover { background: rgba(0, 0, 0, 0) url("n_sc_loading_001.gif") no-repeat scroll right 4px; cursor: default; color: rgb(125, 156, 179); text-decoration: none; }
.defaultcont .loading { background: rgba(0, 0, 0, 0) url("n_sc_loading_001.gif") no-repeat scroll 0px 0px; }
#ViewMode .followuser-act { width: 671px; float: none; border-left: medium none; padding: 0px; }
#ViewMode .myfollowact-box { padding: 10px 0px 0px; }
.userpages { padding: 8px 0px 5px 10px; text-align: right; }
.userpages.line { border-top: 1px dashed rgb(225, 239, 250); margin: 10px 0px 0px; }
.control-cont .rf { width: 550px; border-left: 1px solid rgb(206, 227, 242); padding: 6px 0px 6px 15px; min-height: 200px; }
.userdetailsinfo { padding: 15px 20px; }
.userdetailsinfo .cforminput { padding: 3px 30px; }
.userdetailsinfo .cformfieldtext { width: 450px; }
.userdetailsinfo .line { border-top: 1px dashed rgb(225, 239, 250); margin: 15px 0px; height: 1px; font-size: 1px; }
.userFollow { padding: 15px 10px; border-bottom: 1px dashed rgb(176, 212, 240); }
.userFollow .userPic { float: left; width: auto; }
.userFollow .msgBox { float: right; width: 590px; line-height: 24px; }
.userFollow .msgBox .userName { float: left; }
.userFollow .msgBox .funBox { float: right; }
.userFollow .msgBox .pubInfo { line-height: 20px; }
.userFollow .msgBox .userNums { margin: 5px 0px 0px; }
.userFollow .msgBox .userNums strong { font-weight: bold; color: rgb(230, 57, 34); }
.userFollow .msgBox .funBox .addAttention, .userFollow .msgBox .funBox .deleteAttention { display: block; width: 56px; height: 20px; line-height: 20px; padding: 0px 0px 0px 19px; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0) url("n_attention2.png") no-repeat scroll 0px 0px; text-decoration: none; }
.userFollow .msgBox .funBox .addAttention { background-position: 0px 0px; }
.userFollow .msgBox .funBox .deleteAttention { background-position: 0px -20px; }
.userFollow .msgBox .funBox .addAttention:hover { background-position: 0px -40px; }
.userFollow .msgBox .funBox .deleteAttention:hover { background-position: 0px -60px; }
.c-pages.userFollowPages { margin: -1px 0px 0px; }
.fillinfo { border: 1px solid rgb(225, 239, 250); padding: 15px; margin: 10px auto; }
.fillinfo h1 { line-height: 24px; padding-left: 20px; }
.fillinfo li { line-height: 22px; }
.btn-email a:link, .btn-email a:visited, .btn-email a { display: block; background: rgba(0, 0, 0, 0) url("btn_email_001.gif") no-repeat scroll 0px 0px; width: 163px; height: 31px; text-align: center; margin: 0px auto 15px; line-height: 28px; font-size: 14px; font-weight: bold; }
.btn-email a:hover { background-position: 0px -31px; }
.send-sms { border: 1px solid rgb(244, 228, 174); padding: 8px 20px; line-height: 22px; position: relative; background: rgb(255, 245, 213) none repeat scroll 0% 0%; margin: 10px auto; }
.useratten { margin: 0px 10px; border-bottom: 1px dashed rgb(225, 239, 250); clear: both; }
.useratten li a, 　 .useratten li a:link, .useratten li a:visited, .useratten li a:hover { text-decoration: none; color: rgb(36, 119, 179); }
.useratten li a span { color: rgb(34, 59, 77); }
.useratten li a:hover span { text-decoration: underline; color: rgb(34, 59, 77); }
.useratten li { text-align: center; float: left; padding: 0px 5px 5px; border-right: 1px solid rgb(186, 216, 216); margin: 5px 0px; }
.useratten li strong { font-weight: bold; display: block; font-size: 14px; margin-bottom: 6px; }
.useratten .no-line { border-right: medium none; }
.infoview { background-color: rgb(242, 250, 255); border: 1px solid rgb(206, 227, 242); padding: 10px; margin-bottom: 10px; line-height: 22px; }
.info-vip { background: rgba(0, 0, 0, 0) url("bg_vip_001.png") no-repeat scroll 0px 0px; width: 108px; height: 22px; line-height: 22px; padding-left: 38px; float: left; margin: 0px 20px 10px 0px; }
.pushlist li { height: 20px; padding-bottom: 20px; }
.relist { padding: 0px 4px 5px 0px; font-size: 14px; line-height: 22px; }
.relist a:visited { color: rgb(96, 112, 128); }
.relist .time { color: rgb(125, 156, 179); padding-top: 5px; }
.bbstitle { background: rgba(0, 0, 0, 0) url("line_h.gif") repeat-x scroll 0px top; line-height: 26px; padding-top: 5px; }
.title-xz { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid rgb(206, 227, 242); }
.title-xz a { display: block; float: left; width: 68px; height: 21px; line-height: 21px; text-align: center; margin-right: 10px; }
.title-xz .current { background-color: rgb(33, 118, 189); color: rgb(255, 255, 255); border-radius: 3px; }
.title-xz a.current:link, .title-xz a.current:visited, .title-xz a.current:hover { color: rgb(255, 255, 255); text-decoration: none; cursor: default; }
.ad-xz li { text-align: center; width: 125px; height: 136px; margin-top: 49px; float: left; }
.ad-xz li img { margin-bottom: 7px; }
.ad-xz li span { background-color: rgb(204, 224, 240); padding: 3px 8px; border-radius: 3px; box-shadow: 0px -1px 0px rgb(191, 209, 223); }
.images { background: rgb(255, 255, 255) url("bg_xz_001.png") repeat-x scroll 0% 0%; height: 385px; width: 540px; float: left; margin: 20px; position: relative; }
.images div { display: none; margin: 15px; font-size: 12px; position: absolute; top: 0px; left: 0px; }
.slidetabs { clear: both; margin-left: 285px; }
.slidetabs a { width: 10px; height: 10px; float: left; margin: 3px; background: rgba(0, 0, 0, 0) url("xz_navigator_001.png") no-repeat scroll 0px 0px; display: block; font-size: 1px; }
.slidetabs a:hover { background-position: 0px -10px; }
.slidetabs a.current { background-position: 0px -20px; }
.forward, .backward, .no-forward, .no-backward { float: left; margin-top: 170px; background: rgba(0, 0, 0, 0) url("xz_hori_large_001.gif") no-repeat scroll 0% 0%; display: block; width: 33px; height: 50px; cursor: pointer; font-size: 1px; text-indent: -9999em; }
.forward { background-position: 0px -50px; clear: right; }
.forward:hover { background-position: -35px -50px; }
.forward:active { background-position: -70px -50px; }
.backward:hover { background-position: -35px 0px; }
.backward:active { background-position: -70px 0px; }
.disabled { visibility: hidden !important; }
.no-forward, .no-forward:hover, .no-forward:active { background-position: -105px -50px; clear: right; cursor: default; }
.no-backward, .no-backward:hover, .no-backward:active { background-position: -105px 0px; cursor: default; }
.tooltip { display: none; border: 1px solid rgb(255, 255, 255); border-radius: 3px; background: rgb(249, 244, 196) none repeat scroll 0% 0%; font-size: 12px; height: auto; width: 120px; padding: 6px; color: rgb(34, 59, 77); box-shadow: 0px 1px 5px rgb(102, 102, 102); }
.tooltip a { color: rgb(36, 119, 179); }
.ad-xz-l, .ad-xz-n { margin: 0px 10px 5px; border-bottom: 1px solid rgb(225, 239, 250); clear: both; padding: 5px; }
.ad-xz-l a { display: block; float: left; padding-right: 10px; }
.ad-xz-n .own { float: right; padding-left: 10px; }
.c-blue-sec { color: rgb(37, 120, 174); }
.c-blue-sec a:link, .c-blue-sec a:visited { text-decoration: none; color: rgb(37, 120, 174); }
.c-blue-sec a:hover { text-decoration: underline; color: rgb(230, 57, 34); }
.cmobile-title3 { width: 600px; margin: 20px auto; padding: 10px 0px 0px; line-height: 20px; }
.cmobile-title3 h6 { font-weight: bold; margin-bottom: 10px; }
.cmobile-top-no { padding-top: 0px; margin-top: 0px; }
.userbinding li { height: 55px; padding: 20px 10px; overflow: hidden; border-bottom: 1px dashed rgb(153, 191, 221); }
.userbinding .icon_curlogo_b1 { width: 54px; height: 54px; margin-right: 18px; }
.userbinding .sina-icon { background-position: 0px 0px; }
.userbinding .qqa-icon { background-position: 0px -54px; }
.userbinding .taobao-icon { background-position: 0px -108px; }
.userbinding .qzone-icon { background-position: 0px -162px; }
.userbinding .qq-icon { background-position: 0px -216px; }
.userbinding .wangyi-icon { background-position: 0px -270px; }
.userbinding .douban-icon { background-position: 0px -324px; }
.bin-info { margin-top: 5px; }
.userbinding .bin-info { margin-top: 8px; }
.userbinding .bin-info img { float: none; width: 24px; height: 24px; margin: 0px 9px; vertical-align: middle; }
.bin-name { color: rgb(37, 120, 174); padding-right: 15px; }
.bin-info-f { float: left; }
.bin-info a.addbin, .bin-info a.unbin { display: inline-block; text-align: center; text-decoration: none; color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgb(92, 145, 67); width: 72px; height: 26px; line-height: 24px; background: rgba(0, 0, 0, 0) url("btn_user_assemble_001.gif") no-repeat scroll 0px 0px; }
.bin-info a.unbin { float: right; background-position: -72px 0px; text-shadow: 0px -1px 0px rgb(180, 82, 82); }
.bin-info a.unbin:hover { background-position: -72px -26px; }
.bin-info a.addbin:hover { background-position: 0px -26px; }
.prompt-f { width: 600px; margin: 0px auto; }
.prompt-f .prompt-ok, .prompt-f .prompt-err, .prompt-f .prompt-content { width: 600px; top: 0px; left: 0px; }
.prompt-f .prompt-ok .prompt-content i, .prompt-f .prompt-err .prompt-content i { top: 8px; background-image: url("icon_reg_003.gif"); }
.prompt-f .prompt-ok, .prompt-f .prompt-err { padding-top: 13px; left: 50%; }
.prompt-f .prompt-ok { margin-left: -75px; }
.prompt-f .prompt-err { margin-left: -170px; }
.prompt-f .prompt-content { width: auto; height: auto; top: auto; bottom: 0px; padding-left: 30px; margin-bottom: 5px; margin-left: 2px; }
.icon-user-com { background: rgba(0, 0, 0, 0) url("icon_com.gif") no-repeat scroll 0px 0px; }
.only-title .other-title-f { font-size: 12px; padding-left: 10px; font-weight: normal; color: rgb(184, 203, 217); }
.other-title-f .o-t { font-size: 13px; padding-left: 10px; color: rgb(34, 59, 77); }
.coll-tags-f { font-size: 14px; font-weight: bold; width: 598px; padding: 20px 70px 10px 2px; position: relative; overflow: hidden; }
.coll-tags-f .tag-box { display: inline-block; padding: 8px 13px; margin-left: -2px; border: 1px solid rgb(247, 252, 255); }
.coll-tags-f .now-tag { background: rgb(230, 245, 255) none repeat scroll 0% 0%; border: 1px solid rgb(218, 233, 242); border-radius: 4px; }
.coll-tags-f .tag-box a { color: rgb(36, 119, 179); cursor: auto; }
.coll-tags-f .tag_count { font-size: 12px; vertical-align: 0px; font-weight: normal; }
.coll-tags-f a.manage-tag { color: rgb(125, 156, 179); position: absolute; top: 28px; right: 0px; text-decoration: none; }
.coll-tags-f .del-tag { display: none; cursor: pointer; width: 16px; height: 16px; font-size: 0px; line-height: 0; vertical-align: middle; margin-left: 3px; background-position: -2px -2px; }
.coll-layer-c { display: none; position: absolute; top: 0px; left: 0px; }
.coll-layer-c .change-tag { position: absolute; top: 0px; left: 0px; z-index: 9999; width: 85px; font-size: 14px; padding: 9px 13px; box-shadow: 0px 1px 2px rgb(243, 243, 243) inset; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(206, 227, 244); border-radius: 3px; }
.coll-change-box {  }
.coll-edit .del-tag { display: inline-block; }
.coll-edit .del-tag:hover { background-color: rgb(255, 161, 5); background-position: -2px -22px; }
.coll-edit .tag-box .t-a { cursor: text; overflow: hidden; text-decoration: none; }
.ui-select-s2 { border: 1px solid rgb(36, 119, 179); background-color: rgb(36, 119, 179); overflow: visible; box-shadow: none; height: 25px; line-height: 20px; }
.ui-select-s2 .ui-combobox-arrow { width: 15px; height: 23px; background-image: url("icon_other.gif"); background-position: -3px -25px; }
.ui-select-s2 .ui-combobox-text { text-align: left; color: rgb(255, 255, 255); width: 80px; font-size: 12px; height: 25px; line-height: 25px; margin-left: 0px; text-indent: 5px; }
.ui-select-s2 .ui-conbobox-cons { float: left; }
.ui-select-s2 .ui-conbobox-cons li { float: none; height: 27px; border-bottom: medium none; margin: 1px; line-height: 27px; text-align: left; text-indent: 5px; border-radius: 3px; }
.ui-select-s2 .ui-combobox-layer { width: 98px; border: 1px solid rgb(206, 227, 244); margin-left: -1px; margin-top: -2px; border-radius: 0px 3px 3px; }
.ui-select-s2 .ui-combobox-layer .on { background: rgb(36, 119, 179) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.ui-select-s2 .ui-combobox-layer .last { border-radius: 3px; }
.ccollect-list li.kind .ui-combobox { margin-top: 4px; }
.ccollect-list li.kind { line-height: 20px; }
.ccollect-title li.kind { text-align: center; text-indent: 0px; }
.ui-select-s2 .ui-combobox-showbox { display: inline-block; }
.ui-select-action { border: 1px solid rgb(206, 227, 244); background-color: rgb(255, 255, 255); }
.ui-select-action .ui-combobox-text { color: rgb(36, 119, 179); }
.ui-select-s2 { display: inline-block; width: auto; }
.ui-select-s2 .ui-combobox-arrow { margin-top: 0px; float: left; width: 1px; height: 23px; margin-left: 5px; background-position: -3px 1000px; }
.ui-select-s2 .ui-combobox-text { width: auto; }
.ui-select-s2:hover .ui-combobox-arrow { display: inline-block; width: 15px; height: 23px; margin-left: 6px; background-position: -3px -20px; }
.ui-select-action .ui-combobox-arrow, .ui-select-action:hover .ui-combobox-arrow { background-position: -3px -50px; }
.ccollect-title-n2 li.ctitle, .ccollect-list-n2 li.ctitle { width: 330px; padding: 0px; text-indent: 10px; }
.ccollect-list-n2 li.ctitle { padding: 8px 0px; text-indent: 0px; }
.ccollect-title-n2 li.ccontrol, .ccollect-list-n2 li.ccontrol { width: 75px; text-align: center; padding: 0px; }
.ccollect-title-n2 li.kind, .ccollect-list-n2 li.kind { width: 100px; }
.ccollect-title-n2 li.kind { text-indent: 15px; }
